@model IEnumerable<ToolingRoomManagement.Models.History_Edit_DeviceModel>
@{
    ViewBag.Title = "History_Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_AdminPage.cshtml";
    var session = (ToolingRoomManagement.Common.UserLogin)Session[ToolingRoomManagement.Common.CommonConstants.USER_SESSION];
    int dem = 0;
}

<script src="~/Assets/admin/js/vendor/jquery-1.12.4.min.js"></script>
<style>
    .animation {
        background-color: red;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .tblHistory {
        border: 1px solid;
    }

        .tblHistory thead tr th {
            vertical-align: middle;
            background: #2d9aca;
            /*padding: 0px 0px 0px 15px;*/
            text-align: center;
        }

        .tblHistory tbody tr td {
            vertical-align: middle;
            padding: 6px 15px;
        }
</style>
<div>
    <div class="header-advance-area">

        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">

            </div>
        </div>
        <!-- Mobile Menu end -->
        <div class="breadcome-area" style="margin-top: 40px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list" style="padding: 10px 20px 10px 20px;margin: 30px 0px 10px 0px;">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon zoom" data-toggle="tooltip" data-placement="bottom" title="Home">
                                            @if (session.GroupID == 1)
                                            {
                                                <a href="/Admin/Admin/Index"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 2)
                                            {
                                                <a href="/Admin/Admin/UserPage"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 3)
                                            {
                                                <a href="/Admin/Admin/StaffPage"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 4)
                                            {
                                                <a href="/Admin/Admin/Confirm_Page"><i class="icon nalika-home"></i></a>
                                            }
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2 langKey="history_edit">History Edit</h2>
                                            <p>Welcome to Tooling <span class="bread-ntd">Room</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="Export Excel" class="btn" onclick="fnExcelReport()"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="product-sales-area mg-tb-30" style="margin: 10px 0px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-sales-chart" style="padding: 5px 10px 5px 20px;">
                        <div class="portlet-title">
                            <div class="row">
                                <div>
                                    <div class="col-lg-2 col-md-7 col-sm-6 col-xs-12" style="float:right;width: 300px;margin-right:25px;">
                                        <div class="header-top-menu tabl-d-n hd-search-rp">
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <form role="search" class="">
                                                    <input id="input_search" type="text" placeholder="Search..." class="form-control" style="width: 283px;color: #fffaf0;height: 39px;">
                                                    <a href="" style="left: 257px;margin-top: -23px;"><i class="fa fa-search"></i></a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="width:100%;float:left;height: 735px;">
                                    <div style="padding: 5px 26px 5px 10px;overflow:auto;">
                                        <div style="overflow:auto;height: 700px;">
                                            @*<h3 style="color:aliceblue;">Not Yet Complete! ~_~</h3>*@
                                            <table id="tblHistory" class="tblHistory table-bordered" style="width: 100%; color:white;">
                                                <thead>
                                                    <tr style="height:45px;">
                                                        <th>#</th>
                                                        <th langKey="code_device">Code Devices</th>
                                                        <th langKey="name_device">Device name</th>
                                                        <th langKey="quantity">Quantity</th>
                                                        <th langKey="parameter">Parameter</th>
                                                        <th langKey="location">Location</th>
                                                        <th langKey="note">Note</th>
                                                        @*<th>Input by</th>*@
                                                        <th langKey="date">Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbdHistory">
                                                    @if (Model.Count() != 0)
                                                    {
                                                        foreach (var item in Model)
                                                        {
                                                            { dem++; }
                                                            <tr>
                                                                <td>@dem</td>
                                                                <td>@item.history.code_device</td>
                                                                <td>@item.device.device_name</td>
                                                                <td>@item.history.quantity</td>
                                                                <td>@item.device.parameter</td>
                                                                <td>@item.history.location</td>
                                                                <td>@item.history.note</td>
                                                                @*<td>@item.username_input</td>*@
                                                                <td>@(item.history.create_date != null ? item.history.create_date : DateTime.Parse("N/A"))</td>
                                                            </tr>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr><td colspan="7">No History</td></tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#input_search").on("keyup", function () {
        //get the input value, trimmed, and lowercased
        var value = this.value.trim().toLowerCase();
        //get the associated table
        var $table;
        $table = $("#tbdHistory");

        //show all the rows to "undo" previous filtering
        $table.find('tr').show();

        //only filter if the value is not blank
        if (value) {
            $table.find('thead tr').show();
            //find all the rows that do not match the filter, and hide them
            $table.find('tr').filter(function () {

                return this.innerText.toLowerCase().indexOf(value) < 0;
            }).hide();
        }
    });
    function fnExcelReport() {
        debugger
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('tblHistory'); // id of table

        for (j = 0; j < tab.rows.length; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text = tab_text + "</table>";
        /*tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");*///remove if u want links in your table
        /* tab_text = tab_text.replace(/<img[^>]*>/gi, "");*/ // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Input Devices.xls");
        }
        else                 //other browser not tested on IE 11
            //sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
            var a = document.createElement('a');
        a.href = 'data:application/vnd.ms-excel,' + encodeURIComponent(tab_text);
        a.download = "History Edit.xls";
        a.click();

        return (sa);
    }
</script>

