@model List<Model.EF.MaintenanceRobot>
@{
    ViewBag.Title = "Maintenance_Robot_Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_AdminPage.cshtml";
    var session = (ToolingRoomManagement.Common.UserLogin)Session[ToolingRoomManagement.Common.CommonConstants.USER_SESSION];
    var sessionPart = (ToolingRoomManagement.Common.SessionPart)Session[ToolingRoomManagement.Common.CommonConstants.SessionPart];
    var listAllStation = (List<Model.EF.Station_Robot>)ViewBag.listAllStation;
    int dem = 0;
}


@using System.Globalization;
<link href="~/Assets/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
<link href="~/Assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Assets/admin/js/vendor/jquery-1.12.4.min.js"></script>
<style>
    .animation {
        background-color: red;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .tblShow {
        border: 1px solid;
    }

        .tblShow thead tr th {
            vertical-align: middle;
            background: #2d9aca;
            /*padding: 0px 0px 0px 15px;*/
            text-align: center;
        }

        .tblShow tbody tr td {
            vertical-align: middle;
            padding: 6px 15px;
        }

    ::-webkit-scrollbar {
        width: 8px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 4px 9px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    #tbl_CheckList tbdCheckList tr td {
        text-align: center;
    }

    .btnClose {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
    }

    button.btnclose {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
    }

    .modal-header .btnclose {
        margin-top: -2px;
    }
</style>
<div>
    <div class="header-advance-area">

        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">

            </div>
        </div>
        <!-- Mobile Menu end -->
        <div class="breadcome-area" style="margin-top: 40px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list" style="padding: 10px 20px 10px 20px;margin: 30px 0px 10px 0px;">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon zoom" data-toggle="tooltip" data-placement="bottom" title="Home">
                                            @if (session.GroupID == 1)
                                            {
                                                <a href="/Admin/Admin/Index"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 2)
                                            {
                                                <a href="/Admin/Admin/UserPage"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 3)
                                            {
                                                <a href="/Admin/Admin/StaffPage"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 4)
                                            {
                                                <a href="/Admin/Admin/Confirm_Page"><i class="icon nalika-home"></i></a>
                                            }
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2>Bảo Dưỡng Định Kỳ Máy Tự Động</h2>
                                            <p>Welcome to Tooling <span class="bread-ntd">Room</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="Export To Excel" class="btn" onclick="fnExcelReport()"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="product-sales-area mg-tb-30" style="margin: 10px 0px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-sales-chart" style="padding: 5px 10px 5px 20px;">
                        <div class="portlet-title">
                            <div class="row">
                                <div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:right;margin-right:25px;">
                                        <div class="header-top-menu tabl-d-n hd-search-rp">
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">

                                                <button style="border-radius: 9px;background-color: green;width: 100px;margin-top: 8px;margin-left: 20px;height: 35px;color: white;border: 1px solid;" onclick="openModal_Create()">Create</button>
                                                @*<select id="select_station" class="form-control">
                                                        @foreach (var item in listAllStation)
                                                        {
                                                            <option value="@item.id">@item.station_name</option>
                                                        }
                                                    </select>*@
                                                <form role="search" class="" style="float:right;">
                                                    <input id="input_search" type="text" placeholder="Search..." class="form-control" style="width: 283px;color: #fffaf0;height: 39px;">
                                                    <a href="" style="left: 96.5%;margin-top: -40px;"><i class="fa fa-search"></i></a>
                                                </form>
                                            </div>
                                            <div class="breadcome-heading" style="text-align: center;margin: 0px 0px 10px 0px;">
                                                <h3 style="font-size: 21px;color: white;">
                                                    File Bảo Dưỡng Định Kỳ Máy Tự Động
                                                </h3>
                                            </div>
                                            @*<div class="breadcome-heading" style="text-align: center;margin: 0px 0px 10px 0px;">
                                                    <h3 style="font-size: 21px;color: white;">
                                                        Bảng kiểm tra hàng tuần Shielding Box
                                                    </h3>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div style="width:100%;float:left;height: 735px;">
                                    <div style="padding: 5px 26px 5px 10px;overflow:auto;">
                                        @*<button onclick="OpenModal()">Login Admin</button>*@
                                        <div style="overflow:auto;height: 650px;">
                                            @*<h3 style="color:aliceblue;">Not Yet Complete! ~_~</h3>*@
                                            <table id="tbl_Maintenance" class="tblShow table-bordered" style="width: 100%; color:white;">
                                                <thead>
                                                    <tr style="height:45px;">
                                                        <th style="width:3%;">STT</th>
                                                        <th style="width:6%;">日期 <br /> Ngày tháng</th>
                                                        <th style="width:6%;">時間 <br />Thời gian</th>
                                                        <th style="width:6%;">Tên trạm</th>
                                                        <th style="width:7%;">
                                                            能正常開
                                                            啟無異<br />
                                                            Khởi động bình thường, k có âm thanh bất thường
                                                        </th>
                                                        <th style="width:7%;">
                                                            各氣管接頭無漏
                                                            氣及松動<br />
                                                            Các cút nối đường ống dẫn khí k bị dò rỉ, lỏng lẻo
                                                        </th>
                                                        <th style="width:7%;">
                                                            Sensor固定良好功能正常<br />
                                                            Sensor cố định tốt, Công năng bình thường
                                                        </th>
                                                        <th style="width:7%;">
                                                            Băng tải hoạt động bình thường
                                                        </th>
                                                        <th style="width:8%;">
                                                            @*密封性良好,吸婆
                                                                材無股落及松動<br />*@
                                                            Thiết bị che chắn an toàn, đầy đủ
                                                        </th>
                                                        <th style="width:7%;">
                                                            @*電氣開闊功能正常
                                                                電源接頭良好<br />*@
                                                            Nút dừng khẩn cấp có hoạt động
                                                        </th>
                                                        <th style="width:7%;">
                                                            @*電氣開闊功能正常
                                                                電源接頭良好<br />*@
                                                            Công tắc an toàn tại các cửa hoạt động bình thường
                                                        </th>
                                                        <th style="width:8%;">
                                                            各螺絲及連接
                                                            件固定良好<br />
                                                            Các ốc vít và linh kiện kết nối cố định tốt
                                                        </th>
                                                        <th style="width:8%;">
                                                            外觀整梁標簽
                                                            完成<br />
                                                            Ngoại quan
                                                            sạch sẽ, 5S gọn gàng
                                                        </th>
                                                        <th style="width:8%;">備注 <br /> Ghi chú</th>
                                                        <th style="width:8%;">負責人 <br /> Người phụ trách</th>
                                                        <th style="width:5%;">Part</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbdMaintenance">
                                                    @if (Model.Count() != 0)
                                                    {
                                                        foreach (var item in Model)
                                                        {
                                                            { dem++; }
                                                            <tr>
                                                                <th style="text-align: center;">@dem</th>
                                                                <td style="text-align: center;">@item.create_date.Value.ToString("dd/MM")</td>
                                                                <td style="text-align: center;">@item.create_date.Value.ToString("hh:mm")</td>
                                                                <td style="text-align: center;">@item.station_name</td>
                                                                <td style="text-align: center;">@(item.issue_1 == 1 ? "OK" : "R")</td>
                                                                <td style="text-align: center;">@(item.issue_2 == 1 ? "OK" : "R")</td>
                                                                <td style="text-align: center;">@(item.issue_3 == 1 ? "OK" : "R")</td>
                                                                <td style="text-align: center;">@(item.issue_4 == 1 ? "OK" : "R")</td>
                                                                <td style="text-align: center;">@(item.issue_5 == 1 ? "OK" : "R")</td>
                                                                <td style="text-align: center;">@(item.issue_6 == 1 ? "OK" : "R")</td>
                                                                <td style="text-align: center;">@(item.issue_7 == 1 ? "OK" : "R")</td>
                                                                <td style="text-align: center;">@(item.issue_8 == 1 ? "OK" : "R")</td>
                                                                <td style="text-align: center;">@(item.issue_9 == 1 ? "OK" : "R")</td>
                                                                <td style="text-align: center;">@(item.note != null ? item.note : "")</td>
                                                                <td style="text-align: center;">@item.create_by_name</td>
                                                                <td style="text-align: center;">@item.part</td>
                                                                <td style="text-align: center;">
                                                                    <button class="fa fa-edit" style="width: 40%;height: 25px;background: #1b2a47;color: chartreuse;border: 0px;" onclick="OpenModel_Edit('@item.id','@item.station_name','@item.issue_1','@item.issue_2','@item.issue_3','@item.issue_4','@item.issue_5','@item.issue_6','@item.issue_7','@item.issue_8','@item.issue_9','@item.note')"></button>
                                                                    <button class="fa fa-trash" style="width: 40%;height: 25px;background: #1b2a47;color: red;border: 0px;" onclick="Delete('@item.id')"></button>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td colspan="17">Dont Have Check List!</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <h3 style="font-size: 13px;color: white;margin-top: 10px;">
                                                    備注：
                                                </h3>
                                            </div>
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <h3 style="font-size: 13px;color: white;margin-left: 50px;">
                                                    1.此表附在對應的離箱上，隨其一起移動				2.此表每周一填寫或新設備上線時填寫
                                                </h3>
                                            </div>
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <h3 style="font-size: 13px;color: white;margin-left: 50px;">
                                                    3.對應項檢查正常填“OK",不良填“R”(Repair),并在儲備項填寫修復內容及結果							4.無此項填"X"
                                                </h3>
                                            </div>
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <h3 style="font-size: 13px;color: white;">
                                                    Ghi chú:
                                                </h3>
                                            </div>
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <h3 style="font-size: 13px;color: white;margin-left: 50px;">
                                                    1: Bảng này đi kèm máy tự động tương ứng					2. Bảng này điền vào thứ hai hàng tuần hoặc điền vào lúc thiết bị lên dây chuyền
                                                </h3>
                                            </div>
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <h3 style="font-size: 13px;color: white;margin-left: 50px;">
                                                    3.Các hạng mục kiểm tra tương ứng bình thường thì viết "OK" nếu không thì điền "R"(Repair), và ghi chú ở cột chú thích nội dung cần sửa chữa và kết quả.
                                                </h3>
                                            </div>
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <h3 style="font-size: 13px;color: white;margin-left: 50px;">
                                                    4.Nếu không có hạng mục ấy thì điền "X"
                                                </h3>
                                            </div>
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <h3 style="font-size: 13px;color: white; margin-left: 50px;">
                                                    保存期限：半年									單編號 mã đơn:FD3NLB009002A
                                                </h3>
                                            </div>
                                            <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                <h3 style="font-size: 13px;color: white; margin-left: 50px;">
                                                    Thời hạn bảo lưu:Nửa năm.
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="max-height:600px;overflow-y:auto;">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Tạo mới</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height:530px;">
                <input hidden id="id_rb" />
                <table class="tblCreate" style="width:80%;float: left;margin-left:100px;">
                    <tr style="height:45px;">
                        <td>Tên trạm : </td>
                        <td id="">
                            <input class="form-control" id="station_name1" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black; width: 80%;" />
                        </td>
                    </tr>

                    <tr style="height:45px;">
                        <td>Khởi động bình thường, k có âm thanh bất thường : </td>
                        <td>
                            <input type="radio" name="issue_1" id="issue_1_OK" value="1" /> OK <input type="radio" id="issue_1_NG" name="issue_1" value="2" /> NG
                        </td>
                    </tr>
                    <tr style="height:45px;">
                        <td>Các cút nối đường ống dẫn khí k bị dò rỉ, lỏng lẻo : </td>
                        <td>
                            <input type="radio" id="issue_2_OK" name="issue_2" value="1" /> OK<input type="radio" id="issue_2_NG" name="issue_2" value="2" /> NG
                        </td>
                    </tr>
                    <tr style="height:45px;">
                        <td>Sensor cố định tốt, Công năng bình thường : </td>
                        <td>
                            <input type="radio" id="issue_3_OK" name="issue_3" value="1" /> OK <input type="radio" id="issue_3_NG" name="issue_3" value="2" /> NG
                        </td>
                    </tr>

                    <tr style="height:45px;">
                        <td>Băng tải hoạt động bình thường : </td>
                        <td>
                            <input type="radio" id="issue_4_OK" name="issue_4" value="1" /> OK <input type="radio" id="issue_4_NG" name="issue_4" value="2" /> NG
                        </td>
                    </tr>
                    <tr style="height:45px;">
                        <td>Thiết bị che chắn an toàn, đầy đủ : </td>
                        <td>
                            <input type="radio" id="issue_5_OK" name="issue_5" value="1" /> OK <input type="radio" id="issue_5_NG" name="issue_5" value="2" /> NG
                        </td>
                    </tr>
                    <tr style="height:45px;">
                        <td>Nút dừng khẩn cấp có hoạt động : </td>
                        <td>
                            <input type="radio" id="issue_6_OK" name="issue_6" value="1" /> OK <input type="radio" id="issue_6_NG" name="issue_6" value="2" /> NG
                        </td>
                    </tr>
                    <tr style="height:45px;">
                        <td> Công tắc an toàn tại các cửa hoạt động bình thường : </td>
                        <td>
                            <input type="radio" id="issue_7_OK" name="issue_7" value="1" /> OK <input type="radio" id="issue_7_NG" name="issue_7" value="2" /> NG
                        </td>
                    </tr>
                    <tr style="height:45px;">
                        <td>Các ốc vít và linh kiện kết nối cố định tốt : </td>
                        <td>
                            <input type="radio" id="issue_8_OK" name="issue_8" value="1" /> OK <input type="radio" id="issue_8_NG" name="issue_8" value="2" /> NG
                        </td>
                    </tr>
                    <tr style="height:45px;">
                        <td>Ngoại quan sạch sẽ, 5s gọn gàng : </td>
                        <td>
                            <input type="radio" id="issue_9_OK" name="issue_9" value="1" /> OK <input type="radio" id="issue_9_NG" name="issue_9" value="2" /> NG
                        </td>
                    </tr>
                    <tr style="height:45px;">
                        <td>Ghi chú : </td>
                        <td>
                            <textarea type="file" class="form-control" id="note" style="border: 1px solid #a58147;border-radius: 20px;background: white;color: black;width: 80%;"></textarea>
                        </td>
                    </tr>

                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary btnclose">Close</button>*@
                <button type="button" class="btn btn-secondary btnClick" onclick="AddMaint()">Hoàn thành</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="myModalAddStation">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 630px;margin-left: 128px;">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm trạm</h4>
                <button type="button" class="btnClose" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height:150px;">
                <input hidden id="id_station" />
                <table class="tblCreate" style="width:80%;float: left;margin-left:100px;">

                    <tr style="height:45px;">
                        <td>Tên trạm : </td>
                        <td>
                            <input type="text" id="station_name" class="" style="border-radius: 5px;width: 300px;height: 35px;border: 1px solid;" />
                        </td>
                    </tr>


                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary btnclose">Close</button>*@
                <button type="button" class="btn btn-secondary btnClick" onclick="AddStation()" style="background:green;color:white;">Thêm</button>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#station").empty();
        View_Station();
    });
    function View_Station() {
        $.ajax({
            type: "Post",
            url: "/StationRobot/getAllStationRobot",
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                debugger
                var row = "";
                var row1 = "";
                var length = JSON.parse(data).length;
                for (i = 0; i < length; i++) {
                    row1 = row1 + '<option value="' + JSON.parse(data)[i].id + '">' + JSON.parse(data)[i].station_name + '</option>';
                }
                row = '<select id="station_id" class="" style="width: 165px;height: 40px;border: 1px solid #a58147;border-radius: 20px;"><option value="0">Chọn trạm</option>' +
                    row1
                    + '</select><button class="fa fa-plus" id="btnAddStation" style="border-radius: 10px;background: #eae4e4;border: 1px solid #888c881a;height: 35px;color: #121515;width: 33px;margin-left: 4px;" onclick="OpenModalStation()"></button>';
                $("#station").append(row);
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
    var modal = document.getElementById("myModal");
    var modal_Station = document.getElementById("myModalAddStation");
    function openModal_Create() {
        $("#id_rb").val("");
        $("#issue_1_OK").prop("checked", false)
        $("#issue_1_NG").prop("checked", false)
        $("#issue_2_OK").prop("checked", false)
        $("#issue_2_NG").prop("checked", false)
        $("#issue_3_OK").prop("checked", false)
        $("#issue_3_NG").prop("checked", false)
        $("#issue_4_OK").prop("checked", false)
        $("#issue_4_NG").prop("checked", false)
        $("#issue_5_OK").prop("checked", false)
        $("#issue_5_NG").prop("checked", false)
        $("#issue_6_OK").prop("checked", false)
        $("#issue_6_NG").prop("checked", false)
        $("#issue_7_OK").prop("checked", false)
        $("#issue_7_NG").prop("checked", false)
        $("#issue_8_OK").prop("checked", false)
        $("#issue_8_NG").prop("checked", false)
        $("#issue_9_OK").prop("checked", false)
        $("#issue_9_NG").prop("checked", false)
        $("#note").val("");
        modal.style.display = "block";
    }
    $(document).on("click", ".close", function () {
        modal.style.display = "none";
    });
    $(document).on("click", ".btnClose", function () {
        modal_Station.style.display = "none";
    });
    function OpenModalStation() {
        modal_Station.style.display = "block";
    }
    function AddStation() {
        var id = 0;
        if ($("#id_station").val()) {
            id = document.getElementById("id_station").value;
        } else {
            id = 0;
        }

        var station_name = "";
        if ($("#station_name").val() != "") {
            station_name = document.getElementById("station_name").value;
        }
        else {
            alert("Vui lòng nhập vào tên trạm!");
            return;
        }
        debugger
        $.ajax({
            type: "Post",
            url: "/StationRobot/Insert?id=" + id + "&station_name=" + station_name,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                debugger
                if (data == "OK") {
                    alert("Thành Công!");
                    modal_Station.style.display = "none";
                    $("#station").empty();
                    View_Station();
                } else {
                    alert("Không thành công!");
                }
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
    function AddMaint() {
        var station_id = 0;
        //if ($("#station_id option:selected").val() != 0) {
        //    station_id = $("#station_id option:selected").val();

        //} else {
        //    alert("Vui lòng trọn trạm?");
        //    return;
        //}
        var station_name1 = "";
        if ($("#station_name1").val() != "") {
            station_name1 = document.getElementById("station_name1").value;

        } else {
            alert("Vui lòng nhập tên trạm");
            return;
        }
        var issue_1 = 0;
        if ($("input[name=issue_1]:checked").val() != undefined) {
            issue_1 = $("input[name=issue_1]:checked").val();

        } else {
            alert("Khởi động bình thường, k có âm thanh bất thường k?");
            return;
        }
        var issue_2 = 0;
        if ($("input[name=issue_2]:checked").val() != undefined) {
            issue_2 = $("input[name=issue_2]:checked").val();

        } else {
            alert("Các cút nối đường ống dẫn khí k bị dò rỉ, lỏng lẻo k?");
            return;
        }
        var issue_3 = 0;
        if ($("input[name=issue_3]:checked").val() != undefined) {
            issue_3 = $("input[name=issue_3]:checked").val();

        } else {
            alert("Sensor cố định tốt, Công năng bình thường k?");
            return;
        }
        var issue_4 = 0;
        if ($("input[name=issue_4]:checked").val() != undefined) {
            issue_4 = $("input[name=issue_4]:checked").val();

        } else {
            alert("Băng tải hoạt động bình thường?");
            return;
        }
        var issue_5 = 0;
        if ($("input[name=issue_5]:checked").val() != undefined) {
            issue_5 = $("input[name=issue_5]:checked").val();

        } else {
            alert("Thiết bị che chắn an toàn, đầy đủ?");
            return;
        }
        var issue_6 = 0;
        if ($("input[name=issue_6]:checked").val() != undefined) {
            issue_6 = $("input[name=issue_6]:checked").val();

        } else {
            alert("Nút dừng khẩn cấp có hoạt động?");
            return;
        }
        var issue_7 = 0;
        if ($("input[name=issue_7]:checked").val() != undefined) {
            issue_7 = $("input[name=issue_7]:checked").val();

        } else {
            alert(" Công tắc an toàn tại các cửa hoạt động bình thường?");
            return;
        }
        var issue_8 = 0;
        if ($("input[name=issue_8]:checked").val() != undefined) {
            issue_8 = $("input[name=issue_8]:checked").val();

        } else {
            alert("Các ốc vít và linh kiện kết nối cố định tốt k?");
            return;
        }
        var issue_9 = 0;
        if ($("input[name=issue_9]:checked").val() != undefined) {
            issue_9 = $("input[name=issue_9]:checked").val();

        } else {
            alert("Ngoại quan sạch sẽ, 5s gọn gàng k?");
            return;
        }
        var note = "";
        if ($("#note").val() != "") {
            note = document.getElementById("note").value;

        } else {
            note = "";
        }
        var id = 0;
        if ($("#id_rb").val() != "") {
            id = document.getElementById("id_rb").value;
        } else {
            id = 0;
        }
        var data = new FormData;
        data.append("id", id);
        data.append("station_name", station_name1);
        data.append("issue_1", issue_1);
        data.append("issue_2", issue_2);
        data.append("issue_3", issue_3);
        data.append("issue_4", issue_4);
        data.append("issue_5", issue_5);
        data.append("issue_6", issue_6);
        data.append("issue_7", issue_7);
        data.append("issue_8", issue_8);
        data.append("issue_9", issue_9);
        data.append("note", note);

        $.ajax({
            type: "Post",
            url: "/Maitenance/Create_Maintenace",
            data: data,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                debugger
                if (data == "OK") {
                    alert("Thành Công!");
                    location.reload();
                } else {
                    alert("Không thành công!");
                }
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
    function OpenModel_Edit(id, station_name, issue_1, issue_2, issue_3, issue_4, issue_5, issue_6, issue_7, issue_8, issue_9, note) {

        $("#issue_1_OK").prop("checked", false)
        $("#issue_1_NG").prop("checked", false)
        $("#issue_2_OK").prop("checked", false)
        $("#issue_2_NG").prop("checked", false)
        $("#issue_3_OK").prop("checked", false)
        $("#issue_3_NG").prop("checked", false)
        $("#issue_4_OK").prop("checked", false)
        $("#issue_4_NG").prop("checked", false)
        $("#issue_5_OK").prop("checked", false)
        $("#issue_5_NG").prop("checked", false)
        $("#issue_6_OK").prop("checked", false)
        $("#issue_6_NG").prop("checked", false)
        $("#issue_7_OK").prop("checked", false)
        $("#issue_7_NG").prop("checked", false)
        $("#issue_8_OK").prop("checked", false)
        $("#issue_8_NG").prop("checked", false)
        $("#issue_9_OK").prop("checked", false)
        $("#issue_9_NG").prop("checked", false)
        $("#id_rb").val(id);
        
        $("#station_name1").val(station_name);
        if (issue_1 == 1) {
            $("#issue_1_OK").prop('checked', true);
        } else {
            $("#issue_1_NG").prop('checked', true);
        }
        if (issue_2 == 1) {
            $("#issue_2_OK").prop('checked', true);
        } else {
            $("#issue_2_NG").prop('checked', true);
        }
        if (issue_3 == 1) {
            $("#issue_3_OK").prop('checked', true);
        } else {
            $("#issue_3_NG").prop('checked', true);
        }
        if (issue_4 == 1) {
            $("#issue_4_OK").prop('checked', true);
        } else {
            $("#issue_4_NG").prop('checked', true);
        }
        if (issue_5 == 1) {
            $("#issue_5_OK").prop('checked', true);
        } else {
            $("#issue_5_NG").prop('checked', true);
        }
        if (issue_6 == 1) {
            $("#issue_6_OK").prop('checked', true);
        } else {
            $("#issue_6_NG").prop('checked', true);
        }
        if (issue_7 == 1) {
            $("#issue_7_OK").prop('checked', true);
        } else {
            $("#issue_7_NG").prop('checked', true);
        }
        if (issue_8 == 1) {
            $("#issue_8_OK").prop('checked', true);
        } else {
            $("#issue_8_NG").prop('checked', true);
        }
        if (issue_9 == 1) {
            $("#issue_9_OK").prop('checked', true);
        } else {
            $("#issue_9_NG").prop('checked', true);
        }
        $("#note").val(note);
        modal.style.display = "block";
    }
    function Delete(id) {
        if (confirm("Bạn có chắc chắn muốn xóa?")) {
            $.ajax({
                type: "Post",
                url: "/Maitenance/Delete?id=" + id,
                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    debugger
                    if (data == "OK") {
                        alert("Xóa Thành Công!");
                        location.reload();
                    } else {
                        alert("Không Thành Công!");
                    }
                },
                error: function (err) {
                    //debugger
                    alert("FAIL!");
                }
            });
        }
    }
    $("#input_search").on("keyup", function () {
        //get the input value, trimmed, and lowercased
        var value = this.value.trim().toLowerCase();
        //get the associated table
        var $table;
        $table = $("#tbdCheckList");

        //show all the rows to "undo" previous filtering
        $table.find('tr').show();

        //only filter if the value is not blank
        if (value) {
            $table.find('thead tr').show();
            //find all the rows that do not match the filter, and hide them
            $table.find('tr').filter(function () {

                return this.innerText.toLowerCase().indexOf(value) < 0;
            }).hide();
        }
    });
</script>

