@model Model.EF.OrderPurchase
@{
    ViewBag.Title = "OrderPurchase_Detail_Manager";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_AdminPage.cshtml";
    var session = (ToolingRoomManagement.Common.UserLogin)Session[ToolingRoomManagement.Common.CommonConstants.USER_SESSION];
    int dem = 0;
    string dt = "";
    string dt1 = "";
}

<script src="~/Assets/admin/js/vendor/jquery-1.12.4.min.js"></script>
<style>
    .animation {
        background-color: red;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .tblCreate {
        border: 1px solid;
    }

        .tblCreate tr {
            height: 50px;
        }

        .tblCreate thead tr th {
            vertical-align: middle;
            background: #2d9aca;
            /*padding: 0px 0px 0px 15px;*/
            text-align: center;
        }

        .tblCreate tbody tr td {
            vertical-align: middle;
            padding: 6px 15px;
        }

        .tblCreate tr td input {
            color: black;
            border: 1px solid;
            border-radius: 3px;
            padding: 3px;
            height: 35px;
        }

        .tblCreate tr td textarea {
            color: black;
            border: 1px solid;
            border-radius: 3px;
            padding: 3px;
        }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 4px 9px rgba(0,0,0,0.3);
        border-radius: 10px;
    }
</style>
<div>
    <div class="header-advance-area">

        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">

            </div>
        </div>
        <!-- Mobile Menu end -->
        <div class="breadcome-area" style="margin-top: 40px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list" style="padding: 10px 20px 10px 20px;margin: 30px 0px 10px 0px;">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon zoom" data-toggle="tooltip" data-placement="bottom" title="Home">
                                            @if (session.GroupID == 1)
                                            {
                                                <a href="/Admin/Admin/Index"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 2)
                                            {
                                                <a href="/Admin/Admin/UserPage"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 3)
                                            {
                                                <a href="/Admin/Admin/StaffPage"><i class="icon nalika-home"></i></a>
                                            }
                                            else if (session.GroupID == 4)
                                            {
                                                <a href="/Admin/Admin/Confirm_Page"><i class="icon nalika-home"></i></a>
                                            }
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2 langKey="">Tạo đơn xin mua</h2>
                                            <p>Welcome to Tooling <span class="bread-ntd">Room</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcomb-report">
                                        <button data-toggle="tooltip" data-placement="left" title="Export To Excel" class="btn" onclick="fnExcelReport()"><i class="icon nalika-download"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="product-sales-area mg-tb-30" style="margin: 10px 0px;">
        <div class="container-fluid" style="height:780px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 733px;">
                    <div class="product-sales-chart" style="padding: 5px 10px 5px 20px;height:100%;">
                        <div class="portlet-title">
                            <div class="row">

                                <div style="width:100%;float:left;height: 700px;">
                                    <div style="padding: 5px 26px 5px 10px;overflow:auto;">
                                        <div style="overflow:auto;height: 700px;">
                                            @*<h3 style="color:aliceblue;">Not Yet Complete! ~_~</h3>*@
                                            <table id="tbl_Int" class="tblCreate table-bordered" style="width: 100%; color:white;">
                                                <tr hidden>
                                                    <td>
                                                        <input type="text" id="id_order" value="@Model.id" />
                                                    </td>
                                                </tr>
                                                <tr style="height:70px;">
                                                    <td colspan="6"><h3 style="text-align:center;">Đơn xin mua hàng</h3></td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="2"><b style="color:#e2df70;">Người xin mua điền</b></td>
                                                    <td>
                                                        Bộ phận: @if (int.Parse(Model.part) == 1)
                                                        {
                                                            <input type="text" style="width:200px;background:#a4a6ab;" disabled id="part" value="Automation" />
                                                        }
                                                        else if (int.Parse(Model.part) == 2)
                                                        {
                                                            <input type="text" style="width:200px;background:#a4a6ab;" disabled id="part" value="SetUp" />
                                                        }
                                                        else if (int.Parse(Model.part) == 3)
                                                        {
                                                            <input type="text" style="width:200px;background:#a4a6ab;" disabled id="part" value="Thiết bị" />
                                                        }
                                                        else if (int.Parse(Model.part) == 4)
                                                        {
                                                            <input type="text" style="width:200px;background:#a4a6ab;" disabled id="part" value="ME" />
                                                        }
                                                        else if (int.Parse(Model.part) == 5)
                                                        {
                                                            <input type="text" style="width:200px;background:#a4a6ab;" disabled id="part" value="PE" />
                                                        }
                                                    </td>
                                                    <td colspan="2">Người xin:  <input type="text" style="width:200px;background:#a4a6ab;" disabled id="people_name" value="@Model.people_name" /></td>
                                                    <td style="width: 300px;">Mã thẻ:  <input type="text" style="width:200px;background:#a4a6ab;" disabled id="code_people" value="@Model.code_people" /></td>
                                                    <td>Di động/Máy bàn:  <input type="text" style="width:200px;background:#a4a6ab;" id="phone" value="@Model.phone" disabled/></td>
                                                </tr>
                                                <tr>
                                                    @{
                                                        var c = Model.create_date.Value.ToString("dd/MM/yyyy");
                                                        var d = c.Split('/');
                                                        dt1 = d[2] + "-" + d[1] + "-" + d[0];
                                                        var a = Model.need_date.Value.ToString("dd/MM/yyyy");
                                                        var b = a.Split('/');
                                                        dt = b[2] + "-" + b[1] + "-" + b[0];
                                                    }
                                                    <td colspan="2">Ngày xin:  <input type="date" style="width:200px;background:#a4a6ab;" disabled id="create_date" value="@dt1" /></td>
                                                    <td colspan="3">Ngày cần:  <input type="date" style="width:200px;background:#a4a6ab;" id="need_date" value="@dt" disabled/></td>
                                                </tr>
                                                @*<tr>
                                                        <td><b style="color:#e2df70;">Người tiếp nhận</b></td>
                                                        <td colspan="5">
                                                            Dự tính hàng về: <input type="date" style="width:200px;" id="guess_item" />
                                                        </td>
                                                    </tr>*@
                                                <tr>
                                                    <td rowspan="7" style="width: 100px;"><b style="color:#e2df70;">Người xin mua điền</b></td>
                                                    <td colspan="5" style="color: #479ed2;">
                                                        Loại hàng hóa
                                                    </td>
                                                </tr>

                                                <tr>
                                                    @if (Model.type_item == 1)
                                                    {
                                                        <td style="width:200px">Khuôn test:  <input type="radio" style="background:#a4a6ab;" name="type_device" id="device_1" value="1" checked /></td>
                                                        <td colspan="2">Tiêu hao: <input type="radio" style="background:#a4a6ab;" name="type_device" id="device_2" value="2" /></td>
                                                        <td colspan="2">Thiết bị: <input type="radio" style="background:#a4a6ab;" name="type_device" id="device_3" value="3" /></td>
                                                    }
                                                    else if (Model.type_item == 2)
                                                    {
                                                        <td style="width:200px">Khuôn test:  <input type="radio" name="type_device" id="device_1" value="1" /></td>
                                                        <td colspan="2">Tiêu hao: <input type="radio" name="type_device" id="device_2" value="2" checked /></td>
                                                        <td colspan="2">Thiết bị: <input type="radio" name="type_device" id="device_3" value="3" /></td>
                                                    }
                                                    else
                                                    {
                                                        <td style="width:200px">Khuôn test:  <input type="radio" style="background:#a4a6ab;" name="type_device" id="device_1" value="1" /></td>
                                                        <td colspan="2">Tiêu hao: <input type="radio" style="background:#a4a6ab;" name="type_device" id="device_2" value="2" /></td>
                                                        <td colspan="2">Thiết bị: <input type="radio" style="background:#a4a6ab;" name="type_device" id="device_3" value="3" checked /></td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="color: #479ed2;">
                                                        Thông tin hàng hóa:
                                                    </td>
                                                    <td colspan="3">Tên hàng: </td>
                                                </tr>
                                                <tr>
                                                    <td>Tên hàng:</td>
                                                    <td>Nhãn hiệu:</td>
                                                    <td>Quy cách:</td>
                                                    <td>Số hiệu:</td>
                                                    <td>Số lượng:</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;"><input type="text" style="width:300px;background:#a4a6ab;" id="device_name" value="@Model.item_name" disabled/></td>
                                                    <td style="text-align:center;"><input type="text" style="width:200px;background:#a4a6ab;" id="model_device" value="@Model.item_model" disabled/></td>
                                                    <td style="text-align:center;"><input type="text" style="width:200px;background:#a4a6ab;" id="parameter" value="@Model.item_parameter" disabled/></td>
                                                    <td style="text-align:center;"><input type="text" style="width:200px;background:#a4a6ab;" id="number_device" value="@(Model.item_number!=null?Model.item_number:"N/A")" disabled/></td>
                                                    <td style="text-align:center;"><input type="text" style="width:200px;background:#a4a6ab;" id="quantity" value="@Model.quantity" disabled/></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5"><div style="width:200px;float:left;">Mục đích sử dụng:</div><textarea disabled type="text" style="width:500px;height:60px;background:#a4a6ab;" id="purpose">@Model.purpose</textarea></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5"><div style="width:200px;float:left;">Cách tính toán SL cần mua:</div> <textarea disabled type="text" style="width:500px;height:60px;background:#a4a6ab;" id="way_calculate">@(Model.way_caculate!=null?Model.way_caculate : "N/A")</textarea></td>
                                                </tr>
                                                @*<tr>
                                                    <td colspan="3" style="width:350px">
                                                        Người tiếp nhận: 

                                                    </td>
                                                    <td colspan="3" style="width:350px">
                                                        Chủ quản đơn vị: @Model.manager_name <br />
                                                            <a>(Chưa được duyệt)</a>
                                                    </td>
                                                </tr>*@
                                            </table>
                                            <div style="margin-top:5px;">
                                                <button style="height: 35px;width: 90px;float: right;background: green;color: white;border: 1px solid;border-radius: 10px;margin-left:5px;" langKey="" onclick="confirm()">Confirm</button>
                                                <button style="height: 35px;width: 90px;float: right;background: red;color: white;border: 1px solid;border-radius: 10px;" langKey="" onclick="modal_reject()">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal_Reject">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Reject Note</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input hidden id="id_receive" />
                <textarea class="form-control" id="note" style="color: #000;border-radius: 11px; margin-left: 100px;width: 80%;background: aliceblue; height: 80px;border: 1px solid #d4abab;"></textarea>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" style="background: red;color: white;" class="btn btn-secondary btnreject" onclick="reject()">Submit</button>
            </div>

        </div>
    </div>
</div>
<script>
    var modal = document.getElementById("myModal_Reject");
    function modal_reject() {
        modal.style.display = "block";
    }
    $(document).on("click", ".close", function () {
        modal.style.display = "none";
    })
    function confirm() {
        var id = document.getElementById("id_order").value;
        $.ajax({
            type: "Post",
            url: "/OrderPurchase/confirm_manager?id="+id,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                debugger
                if (data == "OK") {
                    alert("OK Pro!");
                    location.replace("/Admin/Admin/OrderPurchase_Manager");
                }
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
    function reject() {
        var id = document.getElementById("id_order").value;
        if ($("#note").val() != "") {
            var note = document.getElementById("note").value;
        } else {
            alert("Pls enter note! Why you reject?");
            return;
        }
        $.ajax({
            type: "Post",
            url: "/OrderPurchase/reject_manager?id=" + id + "&note=" + note,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                debugger
                if (data == "OK") {
                    alert("OK Pro!");
                    location.replace("/Admin/Admin/OrderPurchase_Manager");
                }
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
</script>

