@model IEnumerable<ToolingRoomManagement.Models.Receive_UserModel>
@{
    ViewBag.Title = "Receive_NotYetConfirm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_AdminPage.cshtml";
    int dem = 0;
}

<style>
    @@media (min-width: 900px) {
        .modal-sm {
            width: 900px;
        }
    }

    @@media (min-width: 900px) {
        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
        }
    }

    .tblCreate thead tr th {
        text-align: center;
    }

    .tblCreate tbody tr td {
        text-align: center;
    }

    .project-list {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3rem;
    }

    .project-item {
        width: 33.333%;
        padding: .5rem;
        -webkit-transition: 400ms ease;
        transition: 400ms ease;
    }

        .project-item .item-inner {
            padding-bottom: 0;
            border-radius: 5px;
            background: #152036;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.32);
            -webkit-transition: 400ms;
            transition: 400ms;
        }

    .item-inner .content {
        padding: 1.5rem;
    }

        .item-inner .content h3 {
            margin-top: 0;
            color: #84bf7d;
        }

        .item-inner .content p {
            margin-bottom: 1rem;
            color: #ecece7;
        }

    .item-inner .item-footer {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: .75rem;
        padding-bottom: .25rem;
        background: #1c2f52;
        border-top: 1px solid #ddd;
        color: #f3ebeb;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }


        .item-inner .item-footer .item-person {
            position: relative;
            top: -4px;
        }

            .item-inner .item-footer .item-person img {
                height: 1.75rem;
                width: 1.75rem;
                border-radius: 50%;
            }

            .item-inner .item-footer .item-person span {
                margin-left: .5rem;
            }

        .item-inner .item-footer .date {
            position: relative;
            top: 3px;
            margin: 0;
        }

            .item-inner .item-footer .date h5 {
                margin: 0;
            }


    .zoom {
        transition: transform .5s;
    }

        .zoom:hover {
            transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

    .close_reject {
        margin-top: -2px;
    }

    .close_reject {
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
    }

    .close_reject {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
    }

    #tbl_View {
        color: white;
    }

        #tbl_View thead {
            position: sticky;
            top: -3px;
            font-size: 1.3vh;
            background: #34518a;
        }

            #tbl_View thead tr th {
                text-align: center;
            }

        #tbl_View tbody tr td {
            font-size: 1vh;
            color: white;
            text-align: center;
        }

    ::-webkit-scrollbar {
        width: 8px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 4px 9px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    .load_section {
        animation: animateLoad 10s linear infinite;
    }

        .load_section .loader {
            position: relative;
            width: 5vw;
            height: 5vh;
            margin-top: 30vh;
            margin-left: 38vw;
        }

            .load_section .loader .span_loader {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: rotate(calc(18deg * var(--i)));
            }

                .load_section .loader .span_loader::before {
                    content: '';
                    position: absolute;
                    border-radius: 20px;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    background: #ffc107;
                    box-shadow: 0 0 10px #ffc107, 0 0 20px #ffc107, 0 0 40px #ffc107, 0 0 60px #ffc107, 0 0 80px #007bff, 0 0 100px #007bff;
                    animation: animateChild 1s linear infinite;
                    animation-delay: calc(0.05s * var(--i));
                }

    @@keyframes animateLoad {
        0% {
            filter: hue-rotate(0deg);
        }

        100% {
            filter: hue-rotate(360deg);
        }
    }

    @@keyframes animateChild {
        0% {
            transform: scale(1);
        }

        80%,100% {
            transform: scale(0);
        }
    }
</style>
<div class="header-advance-area">
    <div class="breadcome-area" style=" margin-top: 40px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon zoom" data-toggle="tooltip" data-placement="bottom" title="Home">
                                        <a href="/Admin/Admin/Index">
                                            <i class="icon nalika-home"></i>
                                        </a>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Oders Wait Confirm</h2>
                                        <p>Welcome to Tooling <span class="bread-ntd">Room</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-report">
                                    <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-sales-area mg-tb-30" style="height:685px; margin:0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-sales-chart">
                    <div class="portlet-title">
                        <div class="row">
                            <div class="content">
                                <div class="" style="margin-left:50px;">
                                    <div class="project-list">
                                        <div style="width:100%;">
                                            <div class="ng-isolate-scope" style="float:left;width:11%; border-radius: 5px;">
                                                <select id="select_status" style="height: 28px;color: white;width: 100%;padding-left: 15px; border-radius: 5px;background: #152036;">
                                                    <option value="100">Wait Orders</option>
                                                    <option value="3">Reject Orders</option>
                                                    <option value="4">Signed Oders</option>
                                                </select>

                                            </div>
                                            <div class="col-lg-2 col-md-7 col-sm-6 col-xs-12" style="float:right;width: 300px;margin-right:25px;">
                                                <div class="header-top-menu tabl-d-n hd-search-rp">
                                                    <div class="breadcome-heading" style="margin: 0px 0px 10px 0px;">
                                                        <form role="search" class="">
                                                            <input id="input_search" type="text" placeholder="Search..." class="form-control" style="width: 283px;color: #fffaf0;height: 39px;" />
                                                            <a href="" style="left: 257px;margin-top: -23px;"><i class="fa fa-search"></i></a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="height:68vh;overflow:auto;width:100%;">
                                            <table class="table table-bordered" id="tbl_View">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" style="width:3%;">No</th>
                                                        <th rowspan="2" style="width:6%;">Code</th>
                                                        <th rowspan="2" style="width:7%;">Content</th>
                                                        <th rowspan="2" style="width:5%;">Status</th>
                                                        <th rowspan="1" colspan="3">Create By</th>
                                                        <th rowspan="1" colspan="3">Manager</th>
                                                        <th rowspan="1" colspan="3">C Than</th>
                                                        <th rowspan="1" colspan="3">Transfer</th>
                                                        <th rowspan="1" colspan="2">Thuy</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1" style="width:6%;">Name</th>
                                                        <th colspan="1" style="width:6%;">Date</th>
                                                        <th colspan="1" style="width:6%;">Note</th>
                                                        <th colspan="1" style="width:6%;">Name</th>
                                                        <th colspan="1" style="width:6%;">Date</th>
                                                        <th colspan="1" style="width:6%;">Note</th>
                                                        <th colspan="1" style="width:6%;">Name</th>
                                                        <th colspan="1" style="width:6%;">Date</th>
                                                        <th colspan="1" style="width:6%;">Note</th>
                                                        <th colspan="1" style="width:5%;">Name</th>
                                                        <th colspan="1" style="width:5%;">Date</th>
                                                        <th colspan="1" style="width:5%;">Note</th>
                                                        <th colspan="1" style="width:5%;">Name</th>
                                                        <th colspan="1" style="width:5%;">Note</th>
                                                        <th colspan="1" style="width:5%;">Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbd_View"></tbody>
                                            </table>
                                            <section class="load_section" style="height: 60vh;width: 100%;">
                                                <div class="loader">
                                                    <span class="span_loader" style="--i:1;"></span>
                                                    <span class="span_loader" style="--i:2;"></span>
                                                    <span class="span_loader" style="--i:3;"></span>
                                                    <span class="span_loader" style="--i:4;"></span>
                                                    <span class="span_loader" style="--i:5;"></span>
                                                    <span class="span_loader" style="--i:6;"></span>
                                                    <span class="span_loader" style="--i:7;"></span>
                                                    <span class="span_loader" style="--i:8;"></span>
                                                    <span class="span_loader" style="--i:9;"></span>
                                                    <span class="span_loader" style="--i:10;"></span>
                                                    <span class="span_loader" style="--i:11;"></span>
                                                    <span class="span_loader" style="--i:12;"></span>
                                                    <span class="span_loader" style="--i:13;"></span>
                                                    <span class="span_loader" style="--i:14;"></span>
                                                    <span class="span_loader" style="--i:15;"></span>
                                                    <span class="span_loader" style="--i:16;"></span>
                                                    <span class="span_loader" style="--i:17;"></span>
                                                    <span class="span_loader" style="--i:18;"></span>
                                                    <span class="span_loader" style="--i:19;"></span>
                                                    <span class="span_loader" style="--i:20;"></span>
                                                </div>
                                            </section>
                                        </div>
                                        @*@if (Model.Count() != 0)
                                            {
                                                foreach (var receive in Model)
                                                {
                                                    { dem++; }
                                                    <a class="project-item zoom" onclick="deltail('@receive.receive_id','@receive.code_receive.Substring(0,1)')">
                                                        <div class="item-inner">
                                                            <div class="content">
                                                                <h3>Orders @receive.code_receive</h3>
                                                                <p>@receive.receive_name</p>
                                                            </div>
                                                            <div class="item-footer">
                                                                <div class="item-person"><img src="/Assets/img/100px-user-100.jpg"><span>@receive.fullname</span></div>
                                                                <div class="date">
                                                                    <h5>@receive.create_date.Value.ToString("dd/MM/yyyy")</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                }
                                            }
                                            else
                                            {
                                                <h4 style="color:#fff">Dont have any Receive!</h4>
                                            }*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Detail Order</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height: 35vh;overflow: auto;">
                <input hidden id="receive_id" />
                <table id="table_1" class="table table-dark tblCreate">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Device Name</th>
                            <th>Location</th>
                            <th>Quantity</th>
                            <th>Quantity in Room</th>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Date Pay</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody id="tblReceive1" style="text-align:center;"></tbody>
                </table>
                <table id="table_2" class="table table-dark tblCreate">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Device Name</th>
                            <th>Location</th>
                            <th>Quantity</th>
                            <th>Quy cách</th>
                            <th>Type</th>
                            <th>Date Pay</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody id="tblReceive2" style="text-align:center;"></tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnclose">Close</button>
                <button type="button" style="background: green;color: white;" class="btn btn-secondary btnConfirm" onclick="confirm()">Confirm</button>
                <button type="button" style="background: green;color: white;" class="btn btn-secondary btnTransferConfirm" onclick="confirm2()">Confirm</button>
                <button type="button" style="background: red;color: white;" class="btn btn-secondary btnreject" onclick="open_reject()">Reject</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="myModal_Reject" style="z-index:10000;background:#80808063;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Reject Note</h4>
                <button type="button" class="close_reject" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input hidden id="id_receive" />
                <textarea class="form-control" id="note_receive" style="color: #000;border-radius: 11px; margin-left: 100px;width: 80%;background: aliceblue; height: 80px;border: 1px solid #d4abab;"></textarea>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" style="background: red;color: white;" class="btn btn-secondary btnreject" onclick="reject()">Submit</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="myModal_Reject_Back" style="z-index:10000">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Reject Note</h4>
                <button type="button" class="close_reject" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input hidden id="id_receive_back" />
                <textarea class="form-control" id="note_receive_Back" style="color: #000;border-radius: 11px; margin-left: 100px;width: 80%;background: aliceblue; height: 80px;border: 1px solid #d4abab;"></textarea>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" style="background: red;color: white;" class="btn btn-secondary btnreject" onclick="reject_Back()">Submit</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="ModalDeviceBackRoom">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chi tiết</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height: 60vh;overflow: auto;">
                <input hidden id="receive_id" />

                <table class="" style="border:0;margin-left: 60px;" id="tblBack">
                    <tr>
                        <td style="width: 150px;height: 50px;">Mã Kiểm kê: </td>
                        <td class="makiemke"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px;height: 50px;">Mã SN: </td>
                        <td class="maSN"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px;height: 50px;">Tên TB: </td>
                        <td class="tenTB"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px;height: 50px;">Model: </td>
                        <td class="model_TB"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px;height: 50px;">Mã Hiệu chuẩn: </td>
                        <td class="mahieuchuan"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px;height: 50px;">Nhập vào kho : </td>
                        <td class="kho_TB"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px;height: 50px;">Tình trạng TB: </td>
                        <td class="statusTB"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px;height: 50px;">Ghi chú: </td>
                        <td class="noteTB"></td>
                    </tr>
                    <tr class="image_TB">
                        <td style="width: 150px;height: 50px;">Hình ảnh: </td>
                        <td class="imageTB">
                            @*<input type="file" class="form-control TYPEDEVICE" style="background-color:white;color:black;border: 1px solid #5c7096;border-radius: 21px;" id="imageTB" multiple>*@

                        </td>
                    </tr>


                </table>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnclose">Đóng</button>
                <button type="button" class="btn btn-secondary " onclick="open_reject()" style="color:white;background:red;">Reject</button>
                <button type="button" class="btn btn-secondary btnAdd" onclick="confirm_Back()">Confirm</button>

            </div>

        </div>
    </div>
</div>
<script src="/Assets/admin/js/vendor/jquery-1.12.4.min.js"></script>
<script>
    $(".btnConfirm").hide();
    $(".btnTransferConfirm").hide();
    $(".btnreject").hide();
    var modal = document.getElementById("myModal");
    var modal_reject = document.getElementById("myModal_Reject");
    var modal_reject_back = document.getElementById("myModal_Reject_Back");
    var modalDeviceBackRoom = document.getElementById("ModalDeviceBackRoom");
    $(document).on("click", ".close", function () {
        modal.style.display = "none";
        modalDeviceBackRoom.style.display = "none";
    })
    $(document).on("click", ".close_reject", function () {
        modal_reject.style.display = "none";
    })
    $(document).on("click", ".btnclose", function () {
        modal.style.display = "none";
        modalDeviceBackRoom.style.display = "none";
    })
    $(".load_section").show();
    $("#select_status").change(function () {
        $(".load_section").show();
        $("#tbd_View").hide();
        var st = $("#select_status").val();
        //alert(st);
        loadData(st)
    })
    function loadData(st) {
        $.ajax({
            type: "POST",
            url: "/Receive/getReceiveManager_Get?status=" + st,
            //data:data,
            contentType: "application/json",
            datatype: "json/text",
            success: function (data) {
                var row = "";
                var row1 = "";
                if (JSON.parse(data).length > 0) {
                    for (i = 0; i < JSON.parse(data).length; i++) {
                        var status = "";
                        if (JSON.parse(data)[i].receive.status == 1) {
                            status = '<a style="color:orange;">Wait_Manager<a>';
                        } else if (JSON.parse(data)[i].receive.status == 2) {
                            status = '<a style="color:#00adff;">Wait_CThan<a>';
                        } else if (JSON.parse(data)[i].receive.status == 7) {
                            status = '<a style="color:orange;">Thuy_Check<a>';
                        } else if (JSON.parse(data)[i].receive.status == 6) {
                            status = '<a style="color:#00ffa1;">Wait_Transfer<a>';
                        } else if (JSON.parse(data)[i].receive.status == 3) {
                            status = '<a style="color:red;">Reject<a>';
                        } else if (JSON.parse(data)[i].receive.status == 4) {
                            status = '<a style="color:green;">OK<a>';
                        } else if (JSON.parse(data)[i].receive.status == 5) {
                            status = '<a style="color:yellow;">Wait_Get<a>';
                        }
                        row += '<tr style="">' +
                            '<td>' + (i + 1) + '</td>' +
                            '<td><a style="cursor:pointer" onclick="detail(' + "'" + JSON.parse(data)[i].receive.id + "','" + JSON.parse(data)[i].receive.status + "'" + ')">' + JSON.parse(data)[i].receive.code_receive + '</a></td>' +
                            '<td>' + JSON.parse(data)[i].receive.receive_name + '</td>' +
                            '<td>' + status + '</td>' +
                            '<td>' + JSON.parse(data)[i].fullname + '</td>' +
                            '<td>' + (JSON.parse(data)[i].receive.create_date != null ? convert_date(JSON.parse(data)[i].receive.create_date) : "") + '</td>' +
                            '<td style="width: 5%;">' + (JSON.parse(data)[i].receive.note != null ? JSON.parse(data)[i].receive.note : "") + '</td>' +
                            '<td style="width: 5%;">' + JSON.parse(data)[i].receive.manager_confirm + '</td>' +
                            '<td>' + (JSON.parse(data)[i].receive.time_manager_cf != null ? convert_date(JSON.parse(data)[i].receive.time_manager_cf) : "") + '</td>' +
                            '<td>' + (JSON.parse(data)[i].receive.note_manager != null ? JSON.parse(data)[i].receive.note_manager : "") + '</td>' +
                            '<td style="width: 5%;">C.Than</td>' +
                            '<td>' + (JSON.parse(data)[i].receive.time_CThanConfirm != null ? convert_date(JSON.parse(data)[i].receive.time_CThanConfirm) : "") + '</td>' +
                            '<td>' + (JSON.parse(data)[i].receive.note_cThan != null ? JSON.parse(data)[i].receive.note_cThan : "") + '</td>' +
                            '<td style="width:5%;">' + (JSON.parse(data)[i].receive.add_manager_name != null ? JSON.parse(data)[i].receive.add_manager_name : "") + '</td>' +
                            '<td>' + (JSON.parse(data)[i].receive.time_transfer_cf != null ? convert_date(JSON.parse(data)[i].receive.time_transfer_cf) : "") + '</td>' +
                            '<td>' + (JSON.parse(data)[i].receive.note_transfer != null ? JSON.parse(data)[i].receive.note_transfer : "") + '</td>' +
                            '<td style="width: 5%;">Thuy</td>' +
                            '<td>' + (JSON.parse(data)[i].receive.note_Thuy != null ? JSON.parse(data)[i].receive.note_Thuy : "") + '</td>' +
                            '<td>' + (JSON.parse(data)[i].receive.complete_date != null ? convert_date(JSON.parse(data)[i].receive.complete_date) : "") + '</td>' +
                            +'</tr>';
                    }
                } else {
                    row = '<tr>' +
                        '<td colspan="18" style="text-align:center;color:white;">-----No Data-----</td>' +
                        '</tr>';
                }
                $("#tbd_View").empty();
                $("#tbd_View").append(row);
                $("#tbd_View").show();
                $(".load_section").hide();
                tab = "tbl_Receive";

                //show_table("tbdReceive");
                //$("#tbdReceive1").append(row1);
            },
            error: function (returnval) {
            }
        });
    }
    loadData(100);
    function detail(receive_id, status) {
        $(".imageTB").empty();
        $("#receive_id").val(receive_id);
        $("#tblReceive1").empty();
        $("#tblReceive2").empty();
        if (status != 4) {
            $("#receive_id").val(receive_id);
            $.ajax({
                type: "Post",
                url: "/Receive/detail_Receive_CThan?receive_id=" + receive_id,
                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    //alert(data);
                    //debugger
                    var length = JSON.parse(data).length;
                    var row = "";
                    //if (length == 0) {
                    //    alert("Dont have any device!");
                    //    return;
                    //}
                    if (length > 0) {
                        for (i = 0; i < length; i++) {
                            var type = "";
                            if (JSON.parse(data)[i].clipOutput.type == 1) {
                                type = "Lĩnh";
                            } else if (JSON.parse(data)[i].clipOutput.type == 2) {
                                type = "Đổi";
                            } else {
                                type = "Mượn";
                            }
                            var note = "";
                            if (JSON.parse(data)[i].clipOutput.note != null) {
                                note = JSON.parse(data)[i].clipOutput.note;
                            }
                            else {
                                note = "";
                            }
                            var ngaytra = "";
                            if (JSON.parse(data)[i].clipOutput.ngaytra != null) {
                                ngaytra = convert_date(JSON.parse(data)[i].clipOutput.ngaytra);

                            } else {
                                ngaytra = "";
                            }

                            var edit = "'" + JSON.parse(data)[i].clipOutput.id + "'";
                            var confirm = "'" + JSON.parse(data)[i].clipOutput.quantity + "','" + JSON.parse(data)[i].clipOutput.device_id + "','" + JSON.parse(data)[i].clipOutput.receive_id + "','" + JSON.parse(data)[i].clipOutput.id + "','" + JSON.parse(data)[i].clipOutput.type + "','" + note + "'";
                            var dele = "'" + JSON.parse(data)[i].clipOutput.id + "','" + JSON.parse(data)[i].clipOutput.receive_id + "'";
                            row = row + '<tr>' +
                                '<td>' + (i + 1) + '</td>' +
                                //'<td hidden class="receive_id"><input type="text" value="' + JSON.parse(data)[i].clipOutput.receive_id + '"/></td>+'
                                '<td>' + JSON.parse(data)[i].device_name + '</td>' +
                                '<td class="location">' + JSON.parse(data)[i].device.location + '</td>' +
                                '<td class="quantity">' + JSON.parse(data)[i].clipOutput.quantity + '</td>' +
                                '<td>' + JSON.parse(data)[i].quantity_in + '</td>' +
                                '<td>' + JSON.parse(data)[i].device.parameter + '</td>' +
                                '<td>' + type + '</td>' +
                                '<td>' + ngaytra + '</td>' +
                                '<td>' + note + '</td>' +
                                '</tr>';
                        }
                    } else {
                        row = '<tr><td colspan="9">---------No Data---------</td></tr>';
                    }
                    if (status == 1) {
                        $(".btnConfirm").show();
                        $(".btnTransferConfirm").hide();
                        $(".btnreject").show();
                    } else if (status == 6) {
                        $(".btnConfirm").hide();
                        $(".btnTransferConfirm").show();
                        $(".btnreject").show();
                    }

                    $("#tblReceive1").append(row);
                    $("#table_1").show();
                    $("#table_2").hide();
                    modal.style.display = "block";
                },
                error: function (err) {
                    //debugger
                    alert("FAIL!");
                }
            });
        } else {
            $.ajax({
                type: "Post",
                url: "/Receive/get_Output_Receive?receive_id=" + receive_id,
                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    //alert(data);
                    //debugger
                    var length = JSON.parse(data).length;
                    var row = "";
                    //if (length == 0) {
                    //    alert("Dont have any device!");
                    //    return;
                    //}
                    if (length > 0) {
                        for (i = 0; i < length; i++) {
                            var type = "";
                            if (JSON.parse(data)[i].output.type == 1) {
                                type = "Lĩnh";
                            } else if (JSON.parse(data)[i].output.type == 2) {
                                type = "Đổi";
                            } else {
                                type = "Mượn";
                            }
                            var note = "";
                            if (JSON.parse(data)[i].output.note != null) {
                                var a = JSON.parse(data)[i].output.note.replace("\n", " ");
                                note = a.replace("\r", " ");
                            }
                            else {
                                note = "";
                            }
                            debugger
                            var ngaytra = "";
                            if (JSON.parse(data)[i].output.ngaytra != null) {
                                ngaytra = convert_date(JSON.parse(data)[i].output.ngaytra);

                            } else {
                                ngaytra = "";
                            }

                            row = row + '<tr>' +
                                '<td>' + (i + 1) + '</td>' +
                                '<td>' + JSON.parse(data)[i].device_name + '</td>' +
                                '<td>' + JSON.parse(data)[i].location + '</td>' +
                                '<td class="quantity">' + JSON.parse(data)[i].output.quantity_output + '</td>' +
                                '<td>' + JSON.parse(data)[i].parameter + '</td>' +
                                '<td>' + type + '</td>' +
                                '<td>' + ngaytra + '</td>' +
                                '<td>' + note + '</td>' +
                                '</tr>';
                        }
                    } else {
                       row = '<tr><td colspan="8">---------No Data---------</td></tr>';
                    }
                    $("#tblReceive2").append(row);
                    $("#table_1").hide();
                    $("#table_2").show();
                    $(".btnConfirm").hide();
                    $(".btnDelete").hide();
                    modal.style.display = "block";
                },
                error: function (err) {
                    //debugger
                    alert("FAIL!");
                }
            });
        }

    }
    //function detail(receive_id,status,code_receive) {
    //    $(".imageTB").empty();
    //        $("#tblReceive").empty();
    //        $.ajax({
    //            type: "Post",
    //            url: "/Receive/get_ClipOutput_Receive?receive_id=" + receive_id,
    //            async: false,
    //            contentType: false,
    //            processData: false,
    //            success: function (data) {
    //                //alert(data);
    //                //debugger
    //                var length = JSON.parse(data).length;
    //                var row = "";
    //                //if (length == 0) {
    //                //    alert("Dont have any device!");
    //                //    return;
    //                //}
    //                for (i = 0; i < length; i++) {
    //                    var type = "";
    //                    if (JSON.parse(data)[i].clipOutput.type == 1) {
    //                        type = "Receive";
    //                    } else if (JSON.parse(data)[i].clipOutput.type == 2) {
    //                        type = "Change";
    //                    } else {
    //                        type = "Borrow";
    //                    }
    //                    var note = "";
    //                    if (JSON.parse(data)[i].clipOutput.note != null) {
    //                        note = JSON.parse(data)[i].clipOutput.note;
    //                    }
    //                    else {
    //                        note = "";
    //                    }
    //                    var confirm = "'" + JSON.parse(data)[i].clipOutput.quantity + "','" + JSON.parse(data)[i].clipOutput.device_id + "','" + JSON.parse(data)[i].clipOutput.receive_id + "','" + JSON.parse(data)[i].clipOutput.id + "','" + JSON.parse(data)[i].clipOutput.type + "','" + note + "'";
    //                    row = row + '<tr>' +
    //                        '<td>' + (i + 1) + '</td>' +
    //                        '<td>' + JSON.parse(data)[i].device_name + '</td>' +
    //                        '<td>' + JSON.parse(data)[i].location + '</td>' +
    //                        '<td class="quantity">' + JSON.parse(data)[i].clipOutput.quantity + '</td>' +
    //                        '<td>' + type + '</td>' +
    //                        '<td>' + note + '</td>' +
    //                        '</tr>';
    //                }
    //                $("#receive_id").val(receive_id);
    //                $("#tblReceive").append(row);
    //                modal.style.display = "block";
    //            },
    //            error: function (err) {
    //                //debugger
    //                alert("FAIL!");
    //            }
    //        });
    //} else if (code_receive == "I") {
    //    $(".makiemke").empty();
    //    $(".maSN").empty();
    //    $(".tenTB").empty();
    //    $(".model_TB").empty();
    //    $("#receive_id").empty();
    //    $(".mahieuchuan").empty();
    //    $(".kho_TB").empty();
    //    $(".statusTB").empty();
    //    $(".noteTB").empty();
    //    $(".imageTB").empty();
    //    $.ajax({
    //        type: "Post",
    //        url: "/Device/get_DeviceBackRoom?receive_id=" + receive_id,
    //        async: false,
    //        contentType: false,
    //        processData: false,
    //        success: function (data) {
    //            //alert(data);
    //            //debugger
    //            var row = "";
    //            $(".makiemke").append("<div>" + JSON.parse(data).makiemke + "</div>");
    //            $(".maSN").append("<div  id='SN_TB'>" + JSON.parse(data).produce_SN + "</div>");
    //            $(".tenTB").append("<div>" + JSON.parse(data).device_name + "</div>");
    //            $(".model_TB").append("<div>" + JSON.parse(data).parameter + "</div>");
    //            $("#receive_id").val(JSON.parse(data).receive_id);
    //            var a = "";
    //            if (JSON.parse(data).calibration != null) {
    //                a = JSON.parse(data).calibration;
    //            } else {
    //                a = "N/A";
    //            }
    //            $(".mahieuchuan").append("<div>" + a + "</div>");
    //            $(".kho_TB").append("<div>" + JSON.parse(data).location + "</div>");
    //            if (JSON.parse(data).status == 1) {
    //                $(".statusTB").append("<div>OK</div>");
    //            } else {


    //                $(".statusTB").append("<div>NG</div>");
    //            }
    //            $(".noteTB").append(JSON.parse(data).note_status);
    //            if (JSON.parse(data).imageTB != null) {
    //                $(".imag eTB").append("<div>Không có hình ảnh nào!</div>");
    //            } else {
    //                debugger
    //                var image_ = JSON.parse(JSON.parse(data).image_TB);
    //                var list_image = "";
    //                for (j = 0; j < image_.length; j++) {
    //                    list_image += '<a href="/Data/Image/' + image_[j].file + '" data-toggle="lightbox" data-max-width="600" >' +
    //                               '   <img style="width:150px;height:100px;border: 1px solid #2c303a" src="/Data/Image/' + image_[j].file + '" class="img-fluid">' +
    //                        '</a>';
    //                }

    //                $(".imageTB").append(list_image);
    //            }
    //            modalDeviceBackRoom.style.display = "block";
    //        },
    //        error: function (err) {
    //            //debugger
    //            alert("FAIL!");
    //        }
    //    });
    //}
    //}
    function confirm() {
        var id = document.getElementById("receive_id").value;
        $.ajax({
            type: "Post",
            url: "/Receive/Manage_Confirm?id=" + id,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                alert("OK");
                modal.style.display = "none";
                location.reload();
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
    function confirm_Back() {
        var id = document.getElementById("receive_id").value;
        $.ajax({
            type: "Post",
            url: "/Receive/Manage_Confirm_Back?id=" + id,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                alert("OK");
                modal.style.display = "none";
                location.reload();
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
    function open_reject() {
        var id = document.getElementById("receive_id").value;
        $("#id_receive").val(id);
        modal_reject.style.display = "block";
    }
    function open_reject_Back() {
        alert("cc");
        var id = document.getElementById("receive_id").value;
        $("#id_receive_back").val(id);
        modal_reject_back.style.display = "block";
    }
    function reject_Back() {
        var id = document.getElementById("id_receive_back").value;
        if ($("#note_receive_Back").val() != "") {
            var note = document.getElementById("note_receive_Back").value;
        } else {
            alert("Pls Fill Note (Why You Reject This Receive?)");
        }
        $.ajax({
            type: "Post",
            url: "/Receive/Manage_Reject_Back?id=" + id + "&note=" + note,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                alert("OK");
                modal_reject.style.display = "none";
                modal.style.display = "none";
                location.reload();
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
    function reject() {
        var id = document.getElementById("id_receive").value;
        if ($("#note_receive").val() != "") {
            var note = document.getElementById("note_receive").value;
        } else {
            alert("Pls Fill Note (Why You Reject This Receive?)");
        }
        $.ajax({
            type: "Post",
            url: "/Receive/Manage_Reject?id=" + id + "&note=" + note,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                alert("OK");
                modal_reject.style.display = "none";
                modal.style.display = "none";
                location.reload();
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
    function confirm2() {
        var id = document.getElementById("receive_id").value;
        $.ajax({
            type: "Post",
            url: "/Receive/Manage_Confirm_Transfer?id=" + id,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                alert("OK");
                modal.style.display = "none";
                location.reload();
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
    $("#input_search").on("keyup", function () {
        //get the input value, trimmed, and lowercased
        var value = this.value.trim().toLowerCase();
        //get the associated table
        var $table;
        $table = $("#tbd_View");
        //show all the rows to "undo" previous filtering
        $table.find('tr').show();

        //only filter if the value is not blank
        if (value) {
            $table.find('thead tr').show();
            //find all the rows that do not match the filter, and hide them
            $table.find('tr').filter(function () {
                return this.innerText.toLowerCase().indexOf(value) < 0;
            }).hide();
        }
    });
    function convert_date(date) {
        var completedDate = new Date(parseInt(date.replace("/Date(", "").replace(")/")));
        var dd = completedDate.getDate();
        var mm = completedDate.getMonth() + 1; //January is 0!
        var yyyy = completedDate.getFullYear();
        if (dd < 10) { dd = '0' + dd }
        if (mm < 10) { mm = '0' + mm }
        return dd + '-' + mm + '-' + yyyy;
    }
    //
    //function open_reject2() {
    //    var id = document.getElementById("receive_id").value;
    //    $("#id_receive").val(id);
    //    modal_reject.style.display = "block";
    //}
    //function reject2() {
    //    var id = document.getElementById("id_receive").value;
    //    if ($("#note_receive").val() != "") {
    //        var note = document.getElementById("note_receive").value;
    //    } else {
    //        alert("Pls Fill Note (Why You Reject This Receive?)");
    //    }
    //    $.ajax({
    //        type: "Post",
    //        url: "/Receive/Manage_Reject_Back?id=" + id + "&note=" + note,
    //        async: false,
    //        contentType: false,
    //        processData: false,
    //        success: function (data) {
    //            alert("OK");
    //            modal_reject.style.display = "none";
    //            modal.style.display = "none";
    //            location.reload();
    //        },
    //        error: function (err) {
    //            //debugger
    //            alert("FAIL!");
    //        }
    //    });
    //}
</script>
