<!doctype html>
<html lang="en" class="dark-theme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="~/Areas/NVIDIA/Content/Image/favicon.ico" type="image/png" />

    <!-- Title -->
    <title>@ViewBag.Title - NVIDIA Tooling Room</title>

    <!-- loader-->
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/js/pace.js"></script>
    @*<script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/js/pace.min.js"></script>*@

    <!-- Bootstrap CSS -->
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/css/bootstrap-extended.css" rel="stylesheet">

    <!--plugins-->
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Vendor/SweetAlert/swal.min.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Vendor/Toats/toastr.min.css" rel="stylesheet" />
    <link href="~/Areas/NVIDIA/Content/Vendor/flag-icons/css/flag-icons.min.css" rel="stylesheet" />

    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

    <!-- Font -->
    <link href="~/Areas/NVIDIA/Content/Vendor/Font/font-roboto/font-roboto.css" rel="stylesheet" />

    <!-- Tempplate -->
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/css/app.css" rel="stylesheet">
    <link href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/css/icons.css" rel="stylesheet">
    <link href="~/Areas/NVIDIA/Content/Vendor/Font-Awesome-640-Pro/css/all.css" rel="stylesheet" />

    <!-- Theme Style CSS -->
    <link rel="stylesheet" href="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/css/dark-theme.css" />

    <!--Custom-->
    <link href="~/Areas/NVIDIA/Content/Custom/Layout/CustomLayout.css?v=@Guid.NewGuid()" rel="stylesheet" />

    <!-- For Page -->
    @RenderSection("styles", false)
</head>

<body>
    <!--wrapper-->
    <div class="wrapper" id="SimpleBar">
        <!--sidebar wrapper -->
        <div class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header">
                <div>
                    <img src="~/Areas/NVIDIA/Content/Image/fii-logo.jpg" class="logo-icon" alt="logo icon">
                </div>
                <div>
                    <h4 class="logo-text">Tooling Room Management</h4>
                </div>
                <div class="toggle-icon ms-auto">
                    <i class='bx bx-first-page'></i>
                </div>
            </div>
            <!--navigation-->
            <ul class="metismenu" id="menu">

                <!-- Dashboard-->
                <li>
                    <a href="/NVIDIA/Dashboard">
                        <div class="parent-icon">
                            <i class='bx bx-home'></i>
                        </div>
                        <div class="menu-title" data-i18n="layout.dashboard">Dashboard</div>
                    </a>
                </li>
                <li class="menu-label" data-i18n="layout.management">Management</li>
                <!-- Device -->
                <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon">
                            <i class='bx bx-microchip'></i>
                        </div>
                        <div class="menu-title" data-i18n="layout.device">Devices</div>
                    </a>
                    <ul>
                        <li>
                            <a href="/NVIDIA/DeviceManagement/DeviceManagement" data-i18n="layout.device_management">Management</a>
                        </li>
                        <li>
                            <a href="/NVIDIA/DeviceManagement/ComingDevice">Coming Device</a>
                        </li>
                        <li>
                            <a class="has-arrow" href="javascript:;" data-i18n="layout.new_device">New Device</a>
                            <ul>
                                <li><a href="/NVIDIA/DeviceManagement/AddDeviceManual" data-i18n="layout.new_device_manual">Manual</a></li>
                                <li><a href="/NVIDIA/DeviceManagement/ConfirmDevice">BOM</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Borrow -->
                <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon">
                            <i class='bx bx-transfer-alt'></i>
                        </div>
                        <div class="menu-title" data-i18n="layout.request_handling">Requests</div>
                    </a>
                    <ul>
                        <li>
                            <a href="/NVIDIA/RequestManagement/RequestManagement" data-i18n="layout.rq_management">Management</a>
                        </li>
                        <li>
                            <a href="/NVIDIA/RequestManagement/SignManagement" data-i18n="layout.rq_sign">Sign</a>
                        </li>
                        <li>
                            <a class="has-arrow" href="javascript:;" data-i18n="layout.rq_request">Request</a>
                            <ul>
                                <li><a href="/NVIDIA/RequestManagement/TakeDevice" data-i18n="layout.rq_request_take">Take</a></li>
                                <li><a href="/NVIDIA/RequestManagement/BorrowDevice" data-i18n="layout.rq_request_borrow">Borrow</a></li>
                                <li><a href="/NVIDIA/RequestManagement/ReturnDevice" data-i18n="layout.rq_request_return">Return</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/NVIDIA/ExportManagement/Management">Export & Return</a>
                        </li>


                    </ul>
                </li>
                <!-- Warehouse-->
                <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon">
                            <i class='bx bx-grid-alt'></i>
                        </div>
                        <div class="menu-title" data-i18n="layout.warehouse">Warehouses</div>
                    </a>
                    <ul>
                        <li>
                            <a href="/NVIDIA/Warehouse/Management" data-i18n="layout.wh_management">Management</a>
                        </li>
                        <li>
                            <a href="/NVIDIA/Warehouse/Layout" data-i18n="layout.wh_layout">Layout</a>
                        </li>
                    </ul>
                </li>
                <!-- Infomation-->
                <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon">
                            <i class='bx bx-info-circle'></i>
                        </div>
                        <div class="menu-title" data-i18n="layout.infomation">Infomation</div>
                    </a>
                    <ul>
                        <li>
                            <a href="/NVIDIA/Info/Product" data-i18n="layout.info_product">Products</a>
                        </li>
                        <li>
                            <a href="/NVIDIA/Info/ModelStation" data-i18n="layout.info_modelstation">Model & Station</a>
                        </li>
                        <li>
                            <a href="/NVIDIA/Info/GroupVendor" data-i18n="layout.info_groupvendor">Group & Vendor</a>
                        </li>
                    </ul>
                </li>
                <!-- Others-->
                <li class="menu-label" data-i18n="layout.others">Others</li>

                <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon">
                            <i class='bx bx-info-circle'></i>
                        </div>
                        <div class="menu-title">ADMIN</div>
                    </a>
                    <ul>
                        <li>
                            <a href="/NVIDIA/AdminManagement/UserManagement">User management</a>
                        </li>
                        <li>
                            <a href="/NVIDIA/Info/ModelStation">Role management</a>
                        </li>
                        @*<li>
                                <a href="/NVIDIA/Info/GroupVendor" data-i18n="layout.info_groupvendor">Group & Vendor</a>
                            </li>*@
                    </ul>
                </li>

                <li>
                    <a href="javascript:;" target="_blank">
                        <div class="parent-icon">
                            <i class='bx bx-file'></i>
                        </div>
                        <div class="menu-title" data-i18n="layout.documentation">Documentation</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" target="_blank">
                        <div class="parent-icon">
                            <i class='bx bx-headphone'></i>
                        </div>
                        <div class="menu-title" data-i18n="layout.support">Support</div>
                    </a>
                </li>
                <li class="menu-label">Sign Out</li>
                <li>
                    <a href="javascript:;" onclick="SignOut()">
                        <div class="parent-icon">
                            <i class='bx bx-log-out'></i>
                        </div>
                        <div class="menu-title" data-i18n="layout.signout">Sign Out</div>
                    </a>
                </li>
            </ul>
            <!--end navigation-->
        </div>
        <!--end sidebar wrapper -->
        <!--start header -->
        <header>
            <div class="topbar d-flex align-items-center bg-dark shadow-none border-light-2 border-bottom">
                <nav class="navbar navbar-expand">
                    <div class="mobile-toggle-menu text-white me-3">
                        <i class='bx bx-menu'></i>
                    </div>

                    <div class="top-menu ms-auto">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle bg-transparent border-0" href="javascript:;" data-bs-toggle="dropdown" aria-expanded="false"><i class="fi fi-vn"></i></a>
                                    <ul class="dropdown-menu" style="" id="select_language">
                                        <li>
                                            <a class="dropdown-item" href="javascript:;" data-lang="vi"><i class="fi fi-vn"></i> Tiếng Việt</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:;" data-lang="en"><i class="fi fi-gb"></i> English</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class='bx bx-category'></i>
                                </a>
                                @Html.Partial("~/Areas/NVIDIA/Views/Shared/_IotSystem.cshtml")
                            </li>
                        </ul>
                    </div>

                    <div class="user-box dropdown border-light-2">
                        <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="user-img" alt="user avatar" id="UserAvatar">
                            <div class="user-info ps-3">
                                <p class="user-name mb-0 text-white" id="CardID"></p>
                                <p class="designattion mb-0" id="Name"></p>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="javascript:;" data-i18n="global.profile"><i class="bx bx-user"></i><span>Profile</span></a>
                            </li>
                            <li>
                                <div class="dropdown-divider mb-0"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:;" onclick="SignOut()" data-i18n="global.signout"><i class='bx bx-log-out-circle'></i><span>Sign Out</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--end header -->
        <!--start page wrapper -->
        <div class="page-wrapper">
            <div class="page-content py-0">
                @RenderBody()
            </div>
        </div>
        <!--end page wrapper -->
        <!--start overlay-->
        <div class="search-overlay"></div>
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0">Copyright © 2023. MBD Automation IOT.</p>
        </footer>
    </div>

    <!--end wrapper-->
    <!-- Vedor JS -->
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/js/jquery.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/Areas/NVIDIA/Content/Vendor/SweetAlert/swal.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Vendor/Toats/toastr.min.js"></script>

    <script src="~/Areas/NVIDIA/Content/Vendor/i18next/i18next.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Vendor/i18next/i18nextBrowserLanguageDetector.min.js"></script>

    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>

    <script src="~/Areas/NVIDIA/Content/Vendor/MomentJs/moment.js"></script>

    <!-- Template-->
    <script src="~/Areas/NVIDIA/Content/Template/Sysadmin/assets/js/app.js"></script>

    <!-- For Page -->
    <script src="~/Areas/NVIDIA/Content/Custom/Layout/CustomLayout.js?v=@Guid.NewGuid()"></script>
    <script type="text/javascript">
        $(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "3000",
                "extendedTimeOut": "500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });
    </script>
    @RenderSection("scripts", false)
</body>
</html>