
@{
    Layout = null;

    var session = (ToolingRoomManagement.Common.UserLogin)Session[ToolingRoomManagement.Common.CommonConstants.USER_SESSION];
    var listAllReceive = (List<Model.EF.Receive>)ViewBag.listAllReceive;
    int dem1 = 0;
    int dem_transfer = 0;
    int dem1_user = 0;
    int dem2 = 0;
    int dem3 = 0; int d1 = 0; int d2 = 0;
    int dem4 = 0;
    int dem5 = 0;
}
<script src="/Assets/admin/js/vendor/jquery-1.12.4.min.js"></script>
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="~/Assets/img/logo3.PNG" type="image/gif" sizes="150x150">
    <title>Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    @*<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">*@
    <!-- Google Fonts
        ============================================ -->
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">*@
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/bootstrap.min.css">
    @*<link href="~/Assets/client/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/font-awesome.min.css">
    <!-- nalika Icon CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/nalika-icon.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/owl.carousel.css">
    <link rel="stylesheet" href="/Assets/admin/css/owl.theme.css">
    <link rel="stylesheet" href="/Assets/admin/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/Assets/admin/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/Assets/admin/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="/Assets/admin/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="/Assets/admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <style>
        @@media (min-width: 900px) {
            .modal-sm {
                width: 900px;
            }
        }

        @@media (min-width: 900px) {
            .modal-content {
                -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
                box-shadow: 0 5px 15px rgba(0,0,0,.5);
            }
        }

        h2 {
            color: #fff;
            font-size: 6rem;
            font-weight: 500;
        }

            h2 span {
                animation: glowing 2s linear infinite;
            }

                h2 span:nth-child(2) {
                    animation-delay: 0.2s;
                }

                h2 span:nth-child(3) {
                    animation-delay: 0.4s;
                }

                h2 span:nth-child(4) {
                    animation-delay: 0.6s;
                }

                h2 span:nth-child(5) {
                    animation-delay: 0.8s;
                }

                h2 span:nth-child(6) {
                    animation-delay: 1s;
                }

                h2 span:nth-child(7) {
                    animation-delay: 1.2s;
                }

                h2 span:nth-child(8) {
                    animation-delay: 1.4s;
                }

                h2 span:nth-child(9) {
                    animation-delay: 1.6s;
                }

                h2 span:nth-child(10) {
                    animation-delay: 1.8s;
                }

                h2 span:nth-child(11) {
                    animation-delay: 2s;
                }

        @@keyframes glowing {
            0%, 80% {
                text-shadow: none;
                color: #fff;
            }

            100% {
                color: #fff;
                text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff, 0 0 120px #ffffff, 0 0 160px #ffffff;
            }
        }

        .sup {
            font-size: 12px;
            color: gold;
            top: -15px;
            right: 2px;
        }

        .zoom {
            transition: transform .5s;
        }

            .zoom:hover {
                transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }
    </style>
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="" style="width:212px;">
            <div class="sidebar-header">

            </div>
            <div class="nalika-profile">
                <div class="profile-dtl">
                    <a href="/Home/Index"><img src="~/Assets/img/logo1.PNG" alt="" /></a>
                    <h2><span>T</span><span>o</span><span>o</span><span>l</span><span>i</span><span>n</span><span>g</span><span class="min-dtn"> R</span><span class="min-dtn">o</span><span class="min-dtn">o</span><span class="min-dtn">m</span></h2>
                </div>
                <div class="profile-social-dtl">
                    <ul class="dtl-social">
                        <li><a href="#"><i class="icon nalika-alarm-clock"></i></a></li>
                        <li><a href="#"><i class="icon nalika-twitter"></i></a></li>
                        <li><a href="#"><i class="icon nalika-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="index.html">
                                <i class="icon nalika-home icon-wrap"></i>
                                <span class="mini-click-non" langKey="admin">Admin</span>
                            </a>
                        <li><a title="" href="/Admin/Admin/Receive_NotYet"><span class="mini-sub-pro" langKey="">Order</span></a></li>
                        @if (session.GroupID == 1)
                        {

                            <ul class="submenu-angle" aria-expanded="true">
                                @*<li><a title="Not Yet Confirm" href="/Admin/Admin/Receive_NotYetConfirm"><span class="mini-sub-pro">Wait Confirm</span></a></li>*@
                                @*<li><a title="Order Purchase" href="/Admin/Admin/OrderPurchase_Manager"><span class="mini-sub-pro" langKey="">Order Purchase</span></a></li>*@
                                <li><a title="Input" href="/Admin/Admin/All_Input"><span class="mini-sub-pro" langKey="input">Input</span></a></li>
                                <li><a title="Output" href="/Admin/Admin/All_Output"><span class="mini-sub-pro" langKey="output">Output</span></a></li>
                                <li><a title="Complete" href="/Admin/Admin/Receive_Complete"><span class="mini-sub-pro" langKey="complete1">Complete</span></a></li>
                                <li><a title="Edit Limit" href="/Admin/Admin/Eit_QuantityLimit"><span class="mini-sub-pro" langKey="">Edit Qty Limit</span></a></li>
                            </ul>
                        }
                        else if (session.GroupID == 2)
                        {
                            <ul class="submenu-angle" aria-expanded="true">
                                @*<li><a title="Not Yet Confirm" href="/Admin/Admin/Receive_User_NotYet"><span class="mini-sub-pro">Not Yet Confirm</span></a></li>*@
                                @*<li><a title="Manager Confirmed" href="/Admin/Admin/Receive_User"><span class="mini-sub-pro">Manager Confirmed</span></a></li>
                                    <li><a title="Wait Mss Than Confirmed" href="/Admin/Admin/Receive_AThanOK_User"><span class="mini-sub-pro">Wait Mss.Than Confirme</span></a></li>*@
                                @*<li><a title="Tạo Đơn xin mua" href="/Admin/Admin/OrderPurchase"><span class="mini-sub-pro" langKey="">Tạo Đơn xin mua</span></a></li>
                                    <li><a title="Đơn xin mua" href="/Admin/Admin/OrderPurchase_View"><span class="mini-sub-pro" langKey="">Đơn xin mua</span></a></li>*@
                                <li><a title="Đơn đã lĩnh" href="/Admin/Admin/Receive_User_OK"><span class="mini-sub-pro" langKey="received">Đơn đã lĩnh</span></a></li>

                            </ul>
                        }
                        else if (session.GroupID == 3)
                        {
                            <ul class="submenu-angle" aria-expanded="true">
                                @*<li><a title="Manager Confirmed" href="/Admin/Admin/Receive_Staff"><span class="mini-sub-pro">Quản lý xác nhận</span></a></li>
                                    <li><a title="Mss Than Confirmed" href="/Admin/Admin/Receive_AThanOK_Staff"><span class="mini-sub-pro">Chờ lấy</span></a></li>*@
                                <li><a title="Input" href="/Admin/Admin/All_Input"><span class="mini-sub-pro" langKey="input">Nhập kho</span></a></li>
                                <li><a title="Output" href="/Admin/Admin/All_Output"><span class="mini-sub-pro" langKey="output">Xuất kho</span></a></li>
                                @*<li><a title="Complete" href="/Admin/Admin/Receive_Complete"><span class="mini-sub-pro" langKey="complete1">Đơn đã phát</span></a></li>*@

                            </ul>
                        }
                        else if (session.GroupID == 4)
                        {
                            <ul class="submenu-angle" aria-expanded="true">
                                @*<li><a title="Manager Confirmed" href="/Admin/Admin/Receive_CThan"><span class="mini-sub-pro">Manager Confirmed</span></a></li>*@
                                @*<li><a title="Order Purchase" href="/Admin/Admin/OrderPurchase_CThan"><span class="mini-sub-pro" langKey="">Order Purcahse Not Yet Check</span></a></li>
                                    <li><a title="Order Purchase" href="/Admin/Admin/OrderPurchase_CThan_Checked"><span class="mini-sub-pro" langKey="">Order Purcahse Checkd</span></a></li>*@
                                <li><a title="Intput" href="/Admin/Admin/All_Input"><span class="mini-sub-pro" langKey="input">Input</span></a></li>
                                <li><a title="Output" href="/Admin/Admin/All_Output"><span class="mini-sub-pro">Output</span></a></li>
                                <li><a title="Complete" href="/Admin/Admin/Receive_Complete"><span class="mini-sub-pro" langKey="complete1">Complete</span></a></li>
                                @*<li><a title="Golden" href="/Admin/Admin/Golden_View"><span class="mini-sub-pro">Golden</span></a></li>
                                    <li><a title="Fixture" href="/Admin/Admin/Fixture_View"><span class="mini-sub-pro">Fixture</span></a></li>
                                    <li><a title="Sheilding Box" href="/Admin/Admin/SheildingBox_View"><span class="mini-sub-pro">Sheilding Box</span></a></li>*@
                                <li><a title="History" href="/Admin/Admin/History_Edit"><span class="mini-sub-pro" langKey="history">History</span></a></li>

                            </ul>
                        }


                        </li>
                        @if (session.GroupID == 1)
                        {
                            <li>
                                <a class="has-arrow" href="/Admin/Admin/OrderPurchase_CThan" aria-expanded="false"><i class="icon nalika-folder icon-wrap"></i> <span class="mini-click-non">Order Purchase</span></a>
                                <ul class="submenu-angle" aria-expanded="false">
                                    <li><a title="Order Purchase" href="/Admin/Admin/OrderPurchase_Manager"><span class="mini-sub-pro" langKey="">Order Purchase</span></a></li>
                                </ul>
                            </li>
                        }
                        else if (session.GroupID == 2)
                        {

                            <li>
                                <a class="has-arrow" href="/Admin/Admin/OrderPurchase_CThan" aria-expanded="false"><i class="icon nalika-folder icon-wrap"></i> <span class="mini-click-non">Order Purchase</span></a>
                                <ul class="submenu-angle" aria-expanded="false">
                                    <li><a title="Tạo Đơn xin mua" href="/Admin/Admin/OrderPurchase"><span class="mini-sub-pro" langKey="">Tạo Đơn xin mua</span></a></li>
                                    <li><a title="Đơn xin mua" href="/Admin/Admin/OrderPurchase_View"><span class="mini-sub-pro" langKey="">Đơn xin mua chờ duyệt</span></a></li>
                                    <li><a title="Đơn xin mua đã duyệt" href="/Admin/Admin/OrderPurchase_OK"><span class="mini-sub-pro" langKey="">Đơn xin mua đã duyệt</span></a></li>
                                </ul>
                            </li>
                        }
                        else if (session.GroupID == 4)
                        {
                            <li>
                                <a class="has-arrow" href="/Admin/Admin/OrderPurchase_CThan" aria-expanded="false"><i class="icon nalika-folder icon-wrap"></i> <span class="mini-click-non">Order Purchase</span></a>
                                <ul class="submenu-angle" aria-expanded="false">
                                    <li><a title="Order Purchase" href="/Admin/Admin/OrderPurchase_CThan"><span class="mini-sub-pro" langKey="">Order Purcahse Not Yet Check</span></a></li>
                                    <li><a title="Order Purchase" href="/Admin/Admin/OrderPurchase_CThan_Checked"><span class="mini-sub-pro" langKey="">Order Purcahse Checkd</span></a></li>
                                </ul>
                            </li>
                        }
                        <li>
                            <a class="has-arrow" href="/Admin/Admin/Golden_View" aria-expanded="false"><i class="icon nalika-folder icon-wrap"></i> <span class="mini-click-non">Golden</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Golden" href="/Admin/Admin/Golden_View"><span class="mini-sub-pro" langKey="golden_management">Golden Management</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="/Admin/Admin/Fixture_View" aria-expanded="false"><i class="icon nalika-gear icon-wrap"></i> <span class="mini-click-non">Fixture</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Fixture" href="/Admin/Admin/Fixture_View"><span class="mini-sub-pro" langKey="fixture_management">Fixture Management</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="/Admin/Admin/SheildingBox_View" aria-expanded="false"><i class="icon nalika-inbox"></i> <span class="mini-click-non">Sheilding-Box</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Fixture" href="/Admin/Admin/SheildingBox_View"><span class="mini-sub-pro" langKey="sheilding_management">Sheilding-Box Management</span></a></li>
                                <li><a title="Weekly Check List" href="/Admin/Admin/WeeklyCheckList"><span class="mini-sub-pro" langKey="weekly">Weekly Check List</span></a></li>
                                <li><a title="Bảo dưỡng Robot định kỳ" href="/Admin/Admin/Maintenance_Robot_View"><span class="mini-sub-pro">Bảo dưỡng Robot định kỳ</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="/Admin/Admin/LUX_STATION" aria-expanded="false"><i class="icon nalika-inbox"></i> <span class="mini-click-non">LUX</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="LUX STATION" href="/Admin/Admin/LUX_STATION"><span class="mini-sub-pro" langKey="">LUX Station</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        @*<a href="Home/Index"><img class="main-logo" src="/Assets/img/logo1.PNG" alt="" /></a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="header-top-area" style="height: 60px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="icon nalika-menu-task"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    <div class="header-top-menu tabl-d-n hd-search-rp">
                                        @*<div class="breadcome-heading">
                                                <form role="search" class="">
                                                    <input type="text" placeholder="Search..." class="form-control">
                                                    <a href=""><i class="fa fa-search"></i></a>
                                                </form>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            <li class="nav-item dropdown">
                                                @if (session.GroupID == 1)
                                                {
                                                    <a href="/Admin/Admin/Receive_NotYetConfirm" data-toggle="tooltip" data-placement="bottom" title="Oders Get Devices" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <i class="icon nalika-mail" aria-hidden="true"></i>
                                                        <sup @*class="indicator-ms"*@ class="sup" id="dem1"></sup>
                                                    </a>
                                                    <a href="/Admin/Admin/Receive_Transfer" data-toggle="tooltip" data-placement="bottom" title="Oders Pay Devices" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <i class="icon nalika-paper-plane" aria-hidden="true"></i>
                                                        <sup @*class="indicator-ms"*@ class="sup" id="dem_transfer"></sup>
                                                    </a>
                                                }
                                                @if (session.GroupID == 4)
                                                {
                                                    <a href="/Admin/Admin/Receive_CThan_NotYetConfirm" data-toggle="tooltip" data-placement="bottom" title="Chờ kí" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <i class="icon nalika-mail" aria-hidden="true"></i>
                                                        <sup @*class="indicator-ms"*@ class="sup" id="dem1"></sup>
                                                    </a>
                                                    <a href="/Admin/Admin/Receive_CThan" data-toggle="tooltip" data-placement="bottom" title="Đơn Lĩnh" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <i class="icon nalika-credit-cards" aria-hidden="true"></i>
                                                        <sup @*class="indicator-ms"*@ class="sup" id="dem2"></sup>
                                                    </a>
                                                    <a href="/Admin/Admin/Receive_CThan_Back" data-toggle="tooltip" data-placement="bottom" title="Đơn trả kho" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <i class="icon nalika-bar-chart" aria-hidden="true"></i>
                                                        <sup @*class="indicator-ms"*@ class="sup" id="dem2"></sup>
                                                    </a>
                                                }


                                            </li>
                                            @if (session.GroupID == 2)
                                            {
                                                @*<li class="nav-item">
                                                    <a href="/Admin/Admin/Receive_User_NotYet" data-toggle="tooltip" data-placement="bottom" title="Đơn đợi quản lý kí" role="button" class="zoom">
                                                        <i class="icon nalika-half-filled-rating-star"></i><sup class="sup" id="dem_user"></sup>
                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="/Admin/Admin/Receive_AThanOK_User" data-toggle="tooltip" data-placement="bottom" title="Đơn đợi C.Thản kí" role="button" class="zoom">
                                                        <i class="icon nalika-happiness" aria-hidden="true"></i><sup  id="dem_waitCThan" class="sup"></sup>
                                                    </a>
                                                </li>*@
                                                <li>
                                                    <a href="/Admin/Admin/Receive_User_Get" data-toggle="tooltip" data-placement="bottom" title="Đơn Lĩnh" role="button" aria-expanded="false" class="nav-link dropdown-toggle zoom">
                                                        <i class="icon nalika-shopping-cart" style="color:green;"></i><sup @*class="indicator-ms"*@ class="sup" id="dem5"></sup>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Admin/Admin/Receive_User_Back" data-toggle="tooltip" data-placement="bottom" title="Đơn trả kho" role="button" aria-expanded="false" class="nav-link dropdown-toggle zoom">
                                                        <i class="icon nalika-flag" style="color:red;"></i><sup @*class="indicator-ms"*@ class="sup" id="dem3"></sup>
                                                    </a>
                                                </li>
                                            }
                                            @if (session.GroupID == 3)
                                            {
                                                <li>
                                                    <a href="/Admin/Admin/Receive_AThanOK_Staff" data-toggle="tooltip" data-placement="bottom" title="Đơn lĩnh đồ" role="button" class="nav-link">
                                                        <i class="icon nalika-diamond"></i><sup @*class="indicator-ms"*@ class="sup" id="dem5"></sup>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Admin/Admin/Receive_Check_Staff" data-toggle="tooltip" data-placement="bottom" title="Đơn trả kho" role="button" class="nav-link">
                                                        <i class="icon nalika-analytics"></i><sup @*class="indicator-ms"*@ class="sup" id="dem_7"></sup>
                                                    </a>
                                                </li>
                                            }
                                            <li class="nav-item">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                    <i class="icon nalika-user"></i>
                                                    <span class="admin-name">@session.UserName</span>
                                                    <i class="icon nalika-down-arrow nalika-angle-dw"></i>
                                                </a>
                                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                    @*<li>
                                                            <a href="register.html"><span class="icon nalika-home author-log-ic"></span> Register</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><span class="icon nalika-user author-log-ic"></span> My Profile</a>
                                                        </li>*@
                                                    <li>
                                                        <a class="changeInformation"><span class="icon nalika-diamond author-log-ic"></span> Change Information</a>
                                                    </li>
                                                    <li>
                                                        @*/Admin/Login/ChangePassword*@
                                                        <a class="changePass"><span class="icon nalika-settings author-log-ic"></span> Change Password</a>
                                                    </li>
                                                    <li>
                                                        <a href="/Admin/Login/Logout"><span class="icon nalika-unlocked author-log-ic"></span> Log Out</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item nav-setting-open">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="icon nalika-menu-task"></i></a>

                                                <div role="menu" class="admintab-wrap menu-setting-wrap menu-setting-wrap-bg dropdown-menu animated zoomIn">
                                                    <ul class="nav nav-tabs custon-set-tab">
                                                        <li class="active">
                                                            <a data-toggle="tab" href="#Notes">News</a>
                                                        </li>
                                                        <li>
                                                            <a data-toggle="tab" href="#Projects">Activity</a>
                                                        </li>
                                                        <li>
                                                            <a data-toggle="tab" href="#Settings">Settings</a>
                                                        </li>
                                                    </ul>

                                                    <div class="tab-content custom-bdr-nt">
                                                        <div id="Notes" class="tab-pane fade in active">
                                                            <div class="notes-area-wrap">
                                                                <div class="note-heading-indicate">
                                                                    <h2><i class="icon nalika-chat"></i> Latest News</h2>
                                                                    <p>You have 10 New News.</p>
                                                                </div>
                                                                <div class="notes-list-area notes-menu-scrollbar">
                                                                    <ul class="notes-menu-list">
                                                                        <li>
                                                                            <a href="#">
                                                                                <div class="notes-list-flow">
                                                                                    <div class="notes-img">
                                                                                        <img src="" alt="" />
                                                                                    </div>
                                                                                    <div class="notes-content">
                                                                                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                                                                                        <span>Yesterday 2:45 pm</span>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="Projects" class="tab-pane fade">
                                                            <div class="projects-settings-wrap">
                                                                <div class="note-heading-indicate">
                                                                    <h2><i class="icon nalika-happiness"></i> Recent Activity</h2>
                                                                    <p> You have 20 Recent Activity.</p>
                                                                </div>
                                                                <div class="project-st-list-area project-st-menu-scrollbar">
                                                                    <ul class="projects-st-menu-list">
                                                                        <li>
                                                                            <a href="#">
                                                                                <div class="project-list-flow">
                                                                                    <div class="projects-st-heading">
                                                                                        <h2>New User Registered</h2>
                                                                                        <p> The point of using Lorem Ipsum is that it has a more or less normal.</p>
                                                                                        <span class="project-st-time">1 hours ago</span>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="Settings" class="tab-pane fade">
                                                            <div class="setting-panel-area">
                                                                <div class="note-heading-indicate">
                                                                    <h2><i class="icon nalika-gear"></i> Settings Panel</h2>
                                                                    <p> You have 20 Settings. 5 not completed.</p>
                                                                </div>
                                                                <ul class="setting-panel-list">
                                                                    <li>
                                                                        <div class="checkbox-setting-pro">
                                                                            <div class="checkbox-title-pro">
                                                                                <h2>Show notifications</h2>
                                                                                <div class="ts-custom-check">
                                                                                    <div class="onoffswitch">
                                                                                        <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                                                                        <label class="onoffswitch-label" for="example">
                                                                                            <span class="onoffswitch-inner"></span>
                                                                                            <span class="onoffswitch-switch"></span>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>

                                                                </ul>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <input type="hidden" id="langCode" value="@ViewBag.LangCode" />
    </div>

    <div class="footer-copyright-area" style="padding:5px 0px;margin-top:3vh;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Design © 2020 <a href="#">by BanNguyen</a> (Automation | IOT Team)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="ModalUpdatePass">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" langKey="change_Pass">Đổi mật khẩu</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input hidden id="receive_id" />
                    <table style="border:0;width: 84%;margin-left: 50px;" id="tblAddReceive">
                        <tr style="height:60px;">
                            <td langKey="old_pass">Mật khẩu cũ: </td>
                            <td>
                                <input type="password" class="form-control TYPEDEVICE" style="background-color:white;color:black;border: 1px solid #5c7096;border-radius: 21px;" id="pass_old">
                            </td>
                        </tr>

                        <tr style="height:60px;">
                            <td langKey="new_pass">Mật khẩu mới: </td>
                            <td>
                                <input type="password" class="form-control TYPEDEVICE" style="background-color:white;color:black;border: 1px solid #5c7096;border-radius: 21px;" id="pass_new">
                            </td>
                        </tr>
                        <tr style="height:60px;">
                            <td langKey="confirm_pass">Xác nhận lại mật khẩu: </td>
                            <td>
                                <input type="password" class="form-control TYPEDEVICE" style="background-color:white;color:black;border: 1px solid #5c7096;border-radius: 21px;" id="pass_ok">
                            </td>
                        </tr>
                    </table>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnclose" langKey="close">Đóng</button>
                    <button type="button" class="btn btn-secondary" onclick="UpdatePass()" langKey="update">Cập nhật</button>

                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="ModalUpdateInformation">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" langKey="update_infor">Sửa thông tin cá nhân</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input hidden id="receive_id" />
                    <table style="border:0;width: 84%;margin-left: 50px;" id="tblAddReceive">
                        <tr style="height:60px;">
                            <td>Tên đăng nhập: </td>
                            <td>
                                <input type="text" class="form-control TYPEDEVICE" style="background-color:white;color:black;border: 1px solid #5c7096;border-radius: 21px;" id="username">
                            </td>
                        </tr>

                        <tr style="height:60px;">
                            <td>Mật khẩu mới: </td>
                            <td>
                                <input type="password" class="form-control TYPEDEVICE" style="background-color:white;color:black;border: 1px solid #5c7096;border-radius: 21px;" id="fullname">
                            </td>
                        </tr>
                        <tr style="height:60px;">
                            <td>Bộ phận: </td>
                            <td>
                                <select id="part" style="color: white;height: 40px;width: 285px; background: #3c4b75;border: none;border-radius: 35px;">
                                    <option value="1">Automation</option>
                                    <option value="2">SetUp</option>
                                    <option value="3">Thiết bị</option>
                                </select>
                            </td>
                        </tr>
                    </table>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnclose" langKey="close">Đóng</button>
                    <button type="button" class="btn btn-secondary" onclick="UpdatePass()" langKey="update">Cập nhật</button>

                </div>

            </div>
        </div>
    </div>
    <input type="hidden" id="langCode" value="@ViewBag.LangCode" />
    <script>
        var langCode = $("#langCode").val() || "en";
        var jsonUrl = "/Assets/lang/" + langCode + ".json";
        var translate = function (jsdata) {
            $("[langKey]").each(function (index) {
                var strTr = jsdata[$(this).attr("langKey")];
                $(this).html(strTr);
                $(this).attr("placeholder", strTr);
            });
        }
        $.ajax({
            url: jsonUrl,
            dataType: "json",
            async: false,
            success: function (jsdata) {
                $("[langKey]").each(function (index) {
                    var strTr = jsdata[$(this).attr("langKey")];
                    $(this).html(strTr);
                    $(this).attr("placeholder", strTr);
                });
            }
        });
    </script>
    <script>
        @*console.log(@dem3);*@
    </script>
    <!-- jquery
        ============================================ -->
    @*<script src="/Assets/admin/js/vendor/jquery-1.12.4.min.js"></script>*@
    @*<script src="~/Assets/client/vendor/jquery/jquery.min.js"></script>*@
    <!-- bootstrap JS
        ============================================ -->
    <script src="/Assets/admin/js/bootstrap.min.js"></script>
    @*<script src="/Assets/client/vendor/bootstrap/js/bootstrap.min.js"></script>*@
    <!-- wow JS
        ============================================ -->
    <script src="/Assets/admin/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="/Assets/admin/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="/Assets/admin/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="/Assets/admin/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="/Assets/admin/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="/Assets/admin/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="/Assets/admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/Assets/admin/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="/Assets/admin/js/metisMenu/metisMenu.min.js"></script>
    <script src="/Assets/admin/js/metisMenu/metisMenu-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="/Assets/admin/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/Assets/admin/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="/Assets/admin/js/calendar/moment.min.js"></script>
    <script src="/Assets/admin/js/calendar/fullcalendar.min.js"></script>
    <script src="/Assets/admin/js/calendar/fullcalendar-active.js"></script>
    <!-- float JS
        ============================================ -->
    <script src="/Assets/admin/js/flot/jquery.flot.js"></script>
    <script src="/Assets/admin/js/flot/jquery.flot.resize.js"></script>
    <script src="/Assets/admin/js/flot/curvedLines.js"></script>
    <script src="/Assets/admin/js/flot/flot-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="/Assets/admin/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="/Assets/admin/js/main.js"></script>
</body>

</html>
<script>
    var update;
    var modal_updatePass = document.getElementById("ModalUpdatePass");
    $(document).on("click", ".close", function () {
        modal_updatePass.style.display = "none";
    });
    $(document).ready(function () {
        //get_ListAllReceive();
    });
    @*function get_ListAllReceive() {
        $.ajax({
            type: "Post",
            url: "/Receive/get_ReceiveGet",
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                var length = JSON.parse(data).length;
                var dem1 = 0, dem2 = 0, dem3 = 0, dem4 = 0, dem5 = 0, dem_transfer = 0, dem_user = 0, dem_waitCThan = 0, dem7 = 0;
                if (length == 0) {
                    dem1 = 0;
                    dem2 = 0;
                    dem3 = 0;
                    dem4 = 0;
                    dem5 = 0;
                    dem_transfer = 0;
                    dem_user = 0;
                    dem_waitCThan = 0;
                    dem7 = 0;

                } else {
                    debugger
                    for (i = 0; i < length; i++) {
                        if (JSON.parse(data)[i].status == 1 || JSON.parse(data)[i].status == 6) {
                            if (JSON.parse(data)[i].manager_id == parseInt(@session.UserID.ToString()) && JSON.parse(data)[i].status == 1) {
                                { dem1++; }
                            }
                            else if (JSON.parse(data)[i].add_manager == parseInt(@session.UserID.ToString()) && JSON.parse(data)[i].status == 6) {
                                { dem_transfer++; }
                            }
                            else  {
                                { dem_user++; }
                            }

                        }
                        else if (JSON.parse(data)[i].status == 2) {
                            { dem2++; }
                        }
                        else if (JSON.parse(data)[i].status == 3) {
                            if (JSON.parse(data)[i].user_create_id == @session.UserID) {
                                { dem3++; }
                            }

                        }

                        else if (JSON.parse(data)[i].status == 4) {
                            { dem4++; }
                        }
                        else if (JSON.parse(data)[i].status == 5) {
                            { dem5++; }
                        } else if (JSON.parse(data)[i].status == 7) {
                            { dem7++; }
                        }
                    }
                }
                $("#dem1").text(dem1);
                $("#dem2").text(dem2);
                $("#dem3").text(dem3);
                $("#dem5").text(dem5);
                $("#dem_transfer").text(dem_transfer);
                $("#dem_user").text(dem_user);
                $("#dem_waitCThan").text(dem2);
                $("#dem_7").text(dem7);
                //$("#dem1").val(dem1);

            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }*@
    $(document).on("click", ".changePass", function () {
        update = true;
        modal_updatePass.style.display = "block";
    });
    function UpdatePass() {
        if ($("#pass_new").val() != 0) {
            var pass_new = document.getElementById("pass_new").value;
        } else {
            alert("Nhập mật khẩu mới!");
            return;
        }
        if ($("#pass_ok").val() != 0) {
            var pass_ok = document.getElementById("pass_ok").value;
        } else {
            alert("Xác nhận mật khẩu!");
            return;
        }
        if (pass_new != pass_ok) {
            alert("Xác nhận mật khẩu k khớp!");
            return;
        }
        $.ajax({
            type: "Post",
            url: "/Login/ChangePassword?pass=" + pass_new,
            async: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data == "OK") {
                    alert("Đổi mật khẩu thành công! Vui lòng đăng nhập lại!");
                    location.replace("/Admin/Login/Index");
                }
            },
            error: function (err) {
                //debugger
                alert("FAIL!");
            }
        });
    }
    $("#pass_old").focusout(function () {
        if (update) {
            var pass_old = document.getElementById("pass_old").value;
            $.ajax({
                type: "Post",
                url: "/Login/checkPass?pass=" + pass_old,
                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == "NG") {
                        alert("Mật khẩu cũ k đúng!");
                    }
                },
                error: function (err) {
                    //debugger
                    alert("FAIL!");
                }
            });
        }
    });
</script>
